Repository vllm-project/vllm: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-torch-nightly-test, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, validate-docker-versions, check-boolean-context-manager

Path conditions:
  format-torch-nightly-test: any of: ^requirements/test\.(in|txt)$, but not: vllm/third_party/.*
  check-spdx-header: any of: \.py$, but not: vllm/third_party/.*
  check-root-lazy-imports: any of: \.py$, but not: vllm/third_party/.*
  enforce-import-regex-instead-of-re: any of: \.py$, but not: vllm/third_party/.*
  forbid-direct-triton-import: any of: \.py$, but not: vllm/third_party/.*
  check-pickle-imports: any of: \.py$, but not: vllm/third_party/.*
  validate-docker-versions: any of: ^docker/(Dockerfile|versions\.json)$, but not: vllm/third_party/.*
  check-boolean-context-manager: any of: \.py$, but not: vllm/third_party/.*

[AMD][CI] Fix test_custom_allreduce for A100 testgroup (#34735)
  tests/distributed/test_custom_all_reduce.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Bump Flashinfer Version and Re-enable DeepSeek NVFP4 AR+Norm Fusion (#34899)
  docker/Dockerfile
  docker/Dockerfile.nightly_torch
  docker/versions.json
  requirements/cuda.txt
  vllm/model_executor/models/config.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, validate-docker-versions, check-boolean-context-manager

Refactored naming and preparing for naming proposal on upstream
  .buildkite/test-amd.yaml
Due: none

updated
  tests/entrypoints/openai/responses/test_harmony.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

x
  examples/offline_inference/new_weight_syncing/rlhf_async_new_apis.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fix merge conflict
  CMakeLists.txt
Due: none

add torch check for dtypes
  csrc/moe/mxfp8_moe/cutlass_mxfp8_grouped_mm.cu
  csrc/moe/mxfp8_moe/mxfp8_experts_quant.cu
Due: none

Optimized distribution of optional tests and moved the TODO list in 34994
  .buildkite/test-amd.yaml
Due: none

Added umbrella issues refernce
  .buildkite/test-amd.yaml
Due: none

Add GH issue to compare func outputs
  tests/compile/passes/test_functionalization.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Revert "[Llama4,Quantization] Simplify and generalize logic for Q/K permutati…"
  vllm/model_executor/models/llama4.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Deduplicated optional tag
  .buildkite/test-amd.yaml
Due: none

Removed shash
  .buildkite/test-amd.yaml
Due: none

clean up for GPT OSS
  vllm/model_executor/layers/quantization/quark/quark.py
  vllm/model_executor/layers/quantization/quark/quark_moe.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fix: DeepSeek-R1 reasoning end detection and scheduler token passing
  vllm/reasoning/deepseek_r1_reasoning_parser.py
  vllm/v1/core/sched/scheduler.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

drop tolerance from scatter_split_replace UT
  tests/compile/passes/test_scatter_split_replace.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Perf] Early return in KVCacheManager.allocate_slots
  tests/v1/core/test_kv_cache_utils.py
  vllm/v1/core/kv_cache_manager.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

chore: fix formatting and indentation in scheduler.py
  vllm/v1/core/sched/scheduler.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fix: update StructuredOutputManager.should_advance to accept new_token_ids
  vllm/v1/core/sched/scheduler.py
  vllm/v1/structured_output/__init__.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Check for sinks requirement for AITER MHA selector
  vllm/platforms/rocm.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

require current vllm config to be set in init_model_parallel as well
  vllm/distributed/parallel_state.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fix precommit
  vllm/v1/engine/core.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

partially handle review comments from cursor
  tests/distributed/test_elastic_ep.py
  vllm/distributed/device_communicators/all2all.py
  vllm/distributed/elastic_ep/elastic_state.py
  vllm/distributed/utils.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

use allgather_reducescatter instead of pplx
  tests/distributed/test_elastic_ep.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

eep phase: stateless group + CUDA graph support support request serving during scaling up/down
  .buildkite/test_areas/expert_parallelism.yaml
  tests/distributed/test_elastic_ep.py
  tools/ep_kernels/elastic_ep/install_eep_libraries.sh
  vllm/compilation/wrapper.py
  vllm/config/parallel.py
  vllm/distributed/device_communicators/all2all.py
  vllm/distributed/device_communicators/base_device_communicator.py
  vllm/distributed/device_communicators/cuda_communicator.py
  vllm/distributed/device_communicators/pynccl.py
  vllm/distributed/elastic_ep/__init__.py
  vllm/distributed/elastic_ep/elastic_execute.py
  vllm/distributed/elastic_ep/elastic_state.py
  vllm/distributed/eplb/async_worker.py
  vllm/distributed/eplb/eplb_state.py
  vllm/distributed/eplb/rebalance_execute.py
  vllm/distributed/parallel_state.py
  vllm/distributed/stateless_coordinator.py
  vllm/distributed/utils.py
  vllm/engine/arg_utils.py
  vllm/envs.py
  vllm/model_executor/layers/fused_moe/layer.py
  vllm/platforms/cuda.py
  vllm/platforms/rocm.py
  vllm/v1/engine/__init__.py
  vllm/v1/engine/async_llm.py
  vllm/v1/engine/coordinator.py
  vllm/v1/engine/core.py
  vllm/v1/engine/core_client.py
  vllm/v1/engine/utils.py
  vllm/v1/executor/multiproc_executor.py
  vllm/v1/executor/ray_executor.py
  vllm/v1/executor/uniproc_executor.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/gpu_worker.py
  vllm/v1/worker/workspace.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

world_size -> world_size_across_dp for executor selection
  vllm/config/parallel.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

update
  tests/distributed/test_elastic_ep.py
  vllm/distributed/stateless_coordinator.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[CI Fix] Fix tests to set vllm_config before initialize_model_parallel
  tests/compile/passes/distributed/test_fusion_all_reduce.py
  tests/lora/test_worker.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

more vllm config wrestling
  tests/utils.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[CI Fix] Fix circular reference between AsyncLLM and output_handler
  vllm/v1/engine/async_llm.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Torch recompile on existing ranks after scale up/down
  vllm/compilation/wrapper.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

set current vllm config in tests
  tests/distributed/eplb_utils.py
  tests/distributed/test_eplb_execute.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Fix is_ep_communicator check
  vllm/distributed/device_communicators/base_device_communicator.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Remove support dynamo
  vllm/distributed/elastic_ep/elastic_execute.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Fix eplb is async field name
  vllm/distributed/elastic_ep/elastic_execute.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Reduce memory util in test_elastic_ep.py
  tests/distributed/test_elastic_ep.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

More current_vllm_config fixes
  tests/conftest.py
  tests/lora/conftest.py
  tests/utils.py
  tests/v1/worker/test_gpu_model_runner.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager
