Repository vllm-project/vllm: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-torch-nightly-test, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, validate-docker-versions, check-boolean-context-manager

Path conditions:
  format-torch-nightly-test: any of: ^requirements/test\.(in|txt)$, but not: vllm/third_party/.*
  check-spdx-header: any of: \.py$, but not: vllm/third_party/.*
  check-root-lazy-imports: any of: \.py$, but not: vllm/third_party/.*
  enforce-import-regex-instead-of-re: any of: \.py$, but not: vllm/third_party/.*
  forbid-direct-triton-import: any of: \.py$, but not: vllm/third_party/.*
  check-pickle-imports: any of: \.py$, but not: vllm/third_party/.*
  validate-docker-versions: any of: ^docker/(Dockerfile|versions\.json)$, but not: vllm/third_party/.*
  check-boolean-context-manager: any of: \.py$, but not: vllm/third_party/.*

simple backend and fused shared moe
  vllm/model_executor/models/cohere_moe.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Guard routed experts for generation requests
  vllm/v1/core/sched/scheduler.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Fix routed experts output alignment
  tests/model_executor/test_routed_experts_capture.py
  tests/v1/core/test_scheduler.py
  tests/v1/engine/test_output_processor.py
  vllm/outputs.py
  vllm/v1/core/sched/scheduler.py
  vllm/v1/engine/output_processor.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Apply pre-commit formatting fixes
  tests/model_executor/test_routed_experts_capture.py
  vllm/outputs.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Fix import order in scheduler test
  tests/v1/core/test_scheduler.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

move aiter linear enablement check within tgemm check
  vllm/_aiter_ops.py
  vllm/model_executor/layers/utils.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Revert "Expose KV cache sliding windows"
  tests/distributed/test_kv_cache_events.py
  tests/v1/core/test_kv_cache_utils.py
  tests/v1/core/test_prefix_caching.py
  vllm/distributed/kv_events.py
  vllm/v1/core/block_pool.py
  vllm/v1/core/kv_cache_coordinator.py
  vllm/v1/kv_cache_interface.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

allow track quantization model weights loading
  vllm/model_executor/model_loader/default_loader.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

tests: reduce llama4 scout fp8 fusion warmup budget to 1024
  tests/compile/fusions_e2e/conftest.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Restore truncated var in attention.cu
  csrc/rocm/attention.cu
Due: none

Add prefix
  vllm/model_executor/models/mistral_eagle.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

add omni arch converter
  vllm/transformers_utils/model_arch_config_convertor.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Docker] Install numactl CLI in CUDA runtime image (#41032)
  docker/Dockerfile
Due: validate-docker-versions

monkey patch
  vllm/transformers_utils/model_arch_config_convertor.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Perf] Update TRTLLM supported MoE routing methods (#39141)
  vllm/model_executor/layers/fused_moe/config.py
  vllm/model_executor/layers/fused_moe/experts/trtllm_fp8_moe.py
  vllm/model_executor/layers/fused_moe/experts/trtllm_nvfp4_moe.py
  vllm/model_executor/layers/fused_moe/oracle/nvfp4.py
  vllm/model_executor/models/deepseek_v2.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Fixed some more of the truncation error
  csrc/rocm/attention.cu
Due: none

Fix: preserve prompt routed experts in FINAL_ONLY mode
  tests/v1/engine/test_output_processor.py
  vllm/v1/engine/output_processor.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Use NCCL abort to clean up collectives
  vllm/distributed/device_communicators/pynccl.py
  vllm/distributed/device_communicators/pynccl_wrapper.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[ROCm][CI] Add missing quantization methods and fix online quant test failures (#39801)
  tests/quantization/test_configs.py
  tests/quantization/test_mixed_precision.py
  tests/quantization/test_turboquant.py
  tests/quantization/utils.py
  vllm/model_executor/kernels/linear/scaled_mm/pytorch.py
  vllm/model_executor/layers/quantization/quark/quark_moe.py
  vllm/model_executor/layers/quantization/quark/schemes/quark_ocp_mx.py
  vllm/model_executor/model_loader/base_loader.py
  vllm/platforms/rocm.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Bugfix] Fix `RuntimeError: Already borrowed` by enforcing one tokenizer per thread
  tests/entrypoints/openai/chat_completion/test_chat_error.py
  tests/entrypoints/openai/chat_completion/test_serving_chat.py
  tests/entrypoints/openai/completion/test_completion_error.py
  tests/entrypoints/openai/completion/test_lora_resolvers.py
  tests/entrypoints/serve/disagg/test_generate_stream.py
  tests/entrypoints/serve/tokenize/test_serving_tokenization.py
  tests/renderers/test_completions.py
  tests/renderers/test_mistral.py
  tests/test_config.py
  vllm/config/model.py
  vllm/engine/arg_utils.py
  vllm/renderers/base.py
  vllm/renderers/deepseek_v32.py
  vllm/renderers/deepseek_v4.py
  vllm/renderers/grok2.py
  vllm/renderers/hf.py
  vllm/renderers/mistral.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Addr comment
  vllm/renderers/base.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Fix pre-commit
  vllm/model_executor/layers/quantization/online/mxfp8.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Fixed vllm config defaults, enable_qk_nrm_rop_fusion should be none by default
  vllm/config/compilation.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Fix compile flag; add avx2 creation ops
  cmake/cpu_extension.cmake
  csrc/cpu/cpu_types_x86.hpp
  csrc/cpu/dnnl_kernels.cpp
  csrc/cpu/torch_bindings.cpp
Due: none

Reshape marin-release workflow: artifact-on-push, nightly build, release every 3 days
  .github/workflows/marin-release.yml
Due: none

Add Marin main-branch TPU wheel release workflow
  .github/workflows/marin-release.yml
Due: none

ci: force 72-hour marin primary promotions
  .github/workflows/marin-primary.yml
Due: none

ci: split marin validation and release workflows
  .github/scripts/marin_release.sh
  .github/scripts/wheel_metadata.py
  .github/workflows/marin-nightly.yml
  .github/workflows/marin-primary.yml
  .github/workflows/marin-release.yml
  .github/workflows/marin-validate.yml
  requirements/tpu.txt
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

ci: make marin releases self-contained
  .github/workflows/marin-nightly.yml
  .github/workflows/marin-primary.yml
Due: none

ci: replace release assets on alias updates
  .github/scripts/marin_release.sh
Due: none

Fix
  vllm/model_executor/layers/quantization/online/mxfp8.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Update tag
  cmake/external_projects/vllm_flash_attn.cmake
Due: none

[Bugfix][Quantization] GGUF: sort merged-column slots by index, not stream order
  tests/quantization/test_gguf_slot_ordering.py
  vllm/model_executor/layers/quantization/gguf.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[SM120/121] Add FlashInfer b12x FP4 GEMM backend
  tests/kernels/quantization/test_flashinfer_nvfp4_scaled_mm.py
  vllm/envs.py
  vllm/model_executor/kernels/linear/__init__.py
  vllm/model_executor/kernels/linear/nvfp4/flashinfer.py
  vllm/utils/flashinfer.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[SM120/121] Add FlashInfer b12x fused MoE backend
  tests/kernels/moe/test_cutedsl_sm12x_moe.py
  vllm/config/kernel.py
  vllm/model_executor/layers/fused_moe/experts/flashinfer_cutedsl_moe.py
  vllm/model_executor/layers/fused_moe/oracle/nvfp4.py
  vllm/model_executor/layers/quantization/utils/flashinfer_fp4_moe.py
  vllm/utils/flashinfer.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[SM120/121] Address review comments on FlashInferCuteDSLSM12xExperts
  vllm/model_executor/layers/fused_moe/experts/flashinfer_cutedsl_moe.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[SM120/121] Switch FlashInferCuteDSLSM12xExperts to b12x_fused_moe (FlashInfer PR #3080)
  vllm/model_executor/layers/fused_moe/experts/flashinfer_cutedsl_moe.py
  vllm/utils/flashinfer.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

pre-commit: fix ruff/formatting issues
  tests/kernels/moe/test_cutedsl_sm12x_moe.py
  vllm/model_executor/kernels/linear/nvfp4/flashinfer.py
  vllm/model_executor/layers/fused_moe/experts/flashinfer_cutedsl_moe.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

rename: flashinfer_cutedsl_sm12x -> flashinfer_b12x
  tests/kernels/moe/test_cutedsl_sm12x_moe.py
  vllm/config/kernel.py
  vllm/model_executor/layers/fused_moe/experts/flashinfer_cutedsl_moe.py
  vllm/model_executor/layers/fused_moe/oracle/nvfp4.py
  vllm/model_executor/layers/quantization/utils/flashinfer_fp4_moe.py
  vllm/utils/flashinfer.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[SM12x] Move FlashInferB12xExperts into its own flashinfer_b12x_moe.py
  tests/kernels/moe/test_flashinfer_b12x_moe.py
  vllm/model_executor/layers/fused_moe/experts/flashinfer_b12x_moe.py
  vllm/model_executor/layers/fused_moe/experts/flashinfer_cutedsl_moe.py
  vllm/model_executor/layers/fused_moe/oracle/nvfp4.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager
