Repository vllm-project/vllm: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-torch-nightly-test, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, validate-docker-versions, check-boolean-context-manager

Path conditions:
  format-torch-nightly-test: any of: ^requirements/test\.(in|txt)$, but not: vllm/third_party/.*
  check-spdx-header: any of: \.py$, but not: vllm/third_party/.*
  check-root-lazy-imports: any of: \.py$, but not: vllm/third_party/.*
  enforce-import-regex-instead-of-re: any of: \.py$, but not: vllm/third_party/.*
  forbid-direct-triton-import: any of: \.py$, but not: vllm/third_party/.*
  check-pickle-imports: any of: \.py$, but not: vllm/third_party/.*
  validate-docker-versions: any of: ^docker/(Dockerfile|versions\.json)$, but not: vllm/third_party/.*
  check-boolean-context-manager: any of: \.py$, but not: vllm/third_party/.*

[Bugfix][MLA] Restore DSpark cache-group capability under optimized Python
  tests/v1/attention/test_mla_noncausal.py
  tests/v1/core/test_kv_cache_utils.py
  vllm/v1/kv_cache_interface.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Bugfix][DCP] Align SimpleCPU offload hybrid geometry
  tests/v1/simple_kv_offload/test_scheduler.py
  vllm/v1/core/kv_cache_coordinator.py
  vllm/v1/simple_kv_offload/manager.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Bugfix][SimpleCPU] Store the full-attention partial tail at finish
  tests/v1/simple_kv_offload/test_scheduler.py
  vllm/v1/simple_kv_offload/manager.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Feature][SimpleCPU] Load fine-grained hybrid prefix hits
  tests/v1/simple_kv_offload/test_scheduler.py
  vllm/distributed/kv_transfer/kv_connector/v1/simple_cpu_offload_connector.py
  vllm/v1/core/kv_cache_coordinator.py
  vllm/v1/core/single_type_kv_cache_manager.py
  vllm/v1/simple_kv_offload/manager.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

docker/Dockerfile: make GDRCopy/NCCL checks reality-based, not flag-based
  docker/Dockerfile
Due: validate-docker-versions

requirements/rubin-prerelease.txt: bump torch/torchvision/torchaudio to 20260903 nightly
  requirements/rubin-prerelease.txt
Due: none

[ROCm][Perf] Tune MiniMax-M3 top-k for short contexts
  tests/kernels/attention/test_minimax_m3.py
  vllm/models/minimax_m3/amd/ops/index_topk.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Fix Mamba state for padded prompt tails
  tests/v1/attention/test_mamba_prompt_tail_metadata.py
  vllm/v1/attention/backends/mamba2_attn.py
  vllm/v1/attention/backends/mamba_attn.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Refine Mamba prompt-tail classification
  tests/v1/attention/test_mamba_prompt_tail_metadata.py
  vllm/v1/attention/backends/mamba_attn.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Add better kv dtype error discoverability
  vllm/platforms/rocm.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Structured Output] Pin the whole-delta fallback to the last sequence index
  tests/v1/structured_output/test_reasoning_structured_output.py
  vllm/v1/structured_output/__init__.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

docs + requirements: use cuda-dl-base and cutlass-dsl 4.8.0.dev0 per review
  docs/getting_started/installation/gpu.cuda.inc.md
  requirements/rubin-prerelease.txt
Due: none

[Bugfix] Strip Gemma4 trailing sentinels regardless of order
  tests/reasoning/test_gemma4_utils.py
  vllm/reasoning/gemma4_utils.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

refactor(grpc): name f64 safe-integer bound, build EC fixtures via json!
  rust/src/server/src/grpc/convert.rs
  rust/src/server/src/grpc/tests.rs
Due: none

[Engine Core] Add engine notification channel from workers to frontends
  rust/src/engine-core-client/src/protocol/mod.rs
  rust/src/engine-core-client/src/protocol/notifications.rs
  rust/src/engine-core-client/src/protocol/output.rs
  rust/src/engine-core-client/src/tests/client.rs
  tests/v1/engine/test_notifications.py
  vllm/v1/engine/__init__.py
  vllm/v1/engine/core.py
  vllm/v1/engine/core_client.py
  vllm/v1/notifications.py
  vllm/v1/outputs.py
  vllm/v1/worker/gpu/model_runner.py
  vllm/v1/worker/gpu_model_runner.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Engine Core] Gather worker notifications from every rank
  tests/v1/engine/test_notifications.py
  vllm/envs.py
  vllm/v1/engine/core.py
  vllm/v1/notifications.py
  vllm/v1/outputs.py
  vllm/v1/worker/gpu/model_runner.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/worker_base.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Engine Core] Gather notifications in the DP busy loop
  vllm/v1/engine/core.py
  vllm/v1/notifications.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Engine Core] Cover wire round-trip and broadcast in notification tests
  tests/v1/engine/test_notifications.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Engine Core] Add e2e test for custom notification delivery
  tests/v1/engine/test_notifications.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Engine Core] Skip the empty-drain allocation and track CustomNotification
  tests/v1/engine/test_notifications.py
  vllm/v1/notifications.py
  vllm/v1/worker/gpu/model_runner.py
  vllm/v1/worker/gpu_model_runner.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Engine Core] Test DP gather wiring and poll gating
  tests/v1/engine/test_notifications.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Engine Core] Carry a notification in the python msgpack fixture
  rust/src/engine-core-client/src/tests/client.rs
  rust/src/engine-core-client/src/tests/python_compat.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Engine Core] Trim notification comments
  rust/src/engine-core-client/src/protocol/notifications.rs
  rust/src/engine-core-client/src/protocol/output.rs
  tests/v1/engine/test_notifications.py
  vllm/envs.py
  vllm/v1/engine/__init__.py
  vllm/v1/engine/core.py
  vllm/v1/notifications.py
  vllm/v1/worker/worker_base.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Engine Core] Deliver notifications while idle and fail gather loudly
  tests/v1/engine/test_notifications.py
  vllm/envs.py
  vllm/v1/engine/core.py
  vllm/v1/engine/core_client.py
  vllm/v1/notifications.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Engine Core] Flush inproc notifications and lock the worker buffer
  tests/v1/engine/test_notifications.py
  vllm/v1/engine/core_client.py
  vllm/v1/notifications.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Drop redundant notification tests
  tests/v1/engine/test_notifications.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Metrics][LoRA] Expose loaded adapters in Prometheus
  docs/design/metrics.md
  tests/lora/test_lora_metrics.py
  tests/v1/metrics/test_lora_metrics.py
  vllm/v1/engine/async_llm.py
  vllm/v1/engine/llm_engine.py
  vllm/v1/metrics/loggers.py
  vllm/v1/metrics/ray_wrappers.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[LoRA] Publish load events from the worker LoRA manager
  tests/lora/test_lora_manager.py
  vllm/lora/model_manager.py
  vllm/lora/worker_manager.py
  vllm/v1/worker/lora_model_runner_mixin.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Engine Core] Add LoRALoadEvent and gather on a step doorbell
  rust/src/engine-core-client/src/protocol/notifications.rs
  rust/src/engine-core-client/src/tests/client.rs
  rust/src/engine-core-client/src/tests/python_compat.py
  tests/v1/engine/test_notifications.py
  vllm/v1/engine/core.py
  vllm/v1/notifications.py
  vllm/v1/outputs.py
  vllm/v1/worker/gpu/model_runner.py
  vllm/v1/worker/gpu_model_runner.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Rust][Metrics] Consume LoRA load events in the Rust frontend
  rust/src/engine-core-client/src/client/imp.rs
  rust/src/engine-core-client/src/metrics.rs
  rust/src/metrics/src/scheduler.rs
Due: none

[CI] Avoid logging test server environment values (#54379)
  tests/entrypoints/unit_tests/test_remote_vllm_server.py
  tests/utils.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

docker/Dockerfile: drop CUTE_DSL_ARCH workaround, no longer needed
  docker/Dockerfile
  requirements/rubin-prerelease.txt
Due: validate-docker-versions

Fix cuda profiler missing bug
  tests/v1/engine/test_async_llm.py
  vllm/v1/engine/async_llm.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Update vllm/v1/attention/backends/mamba2_attn.py
  vllm/v1/attention/backends/mamba2_attn.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

bump torch pin to 2.13.0 in zen image
  docker/Dockerfile.zen
Due: none

[ZenCPU] Remove CI trigger for zen image build
  .buildkite/image_build/image_build.yaml
  .buildkite/image_build/image_build_zen_cpu.sh
Due: none

patch copy
  docker/Dockerfile.zen
Due: none

[ZenCPU] Minimal zen image build on x86 premerge queue
  .buildkite/image_build/image_build.yaml
  .buildkite/image_build/image_build_zen_cpu.sh
  docker/Dockerfile.cpu
  docker/Dockerfile.zen
Due: none

add cpu backend
  docker/Dockerfile.zen
Due: none

[ROCm][Kimi-K3][DCP] Enable MLA query replication
  tests/v1/attention/test_dcp_utils.py
  vllm/models/kimi_k3/amd/linear.py
  vllm/v1/attention/ops/dcp.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager
