Repository vllm-project/vllm: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-torch-nightly-test, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, validate-docker-versions, check-boolean-context-manager

format-torch-nightly-test:
  name: reformat nightly_torch_test.txt to be in sync with test.in
  language: python
  entry: python tools/pre_commit/generate_nightly_torch_test.py

check-spdx-header:
  name: Check SPDX headers
  entry: python tools/pre_commit/check_spdx_header.py
  language: python

check-root-lazy-imports:
  name: Check root lazy imports
  entry: python tools/pre_commit/check_init_lazy_imports.py
  language: python

enforce-import-regex-instead-of-re:
  name: Enforce import regex as re
  entry: python tools/pre_commit/enforce_regex_import.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - regex

forbid-direct-triton-import:
  name: Forbid direct 'import triton'
  entry: python tools/pre_commit/check_triton_import.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - regex

check-pickle-imports:
  name: Prevent new pickle/cloudpickle imports
  entry: python tools/pre_commit/check_pickle_imports.py
  language: python
  additional_dependencies:
  - regex

validate-docker-versions:
  name: Validate docker/versions.json matches Dockerfile
  entry: python tools/generate_versions_json.py --check
  language: python
  pass_filenames: false
  additional_dependencies:
  - dockerfile-parse

check-boolean-context-manager:
  name: Check for boolean ops in with-statements
  entry: python tools/pre_commit/check_boolean_context_manager.py
  language: python

Metric now appears once for every tier without prefixes, and api allows multiple info guages.
  docs/features/kv_offloading_usage.md
  tests/v1/kv_connector/unit/offloading_connector/test_metrics.py
  tests/v1/kv_connector/unit/offloading_connector/utils.py
  tests/v1/kv_offload/tiering/test_tiering_offloading.py
  vllm/distributed/kv_transfer/kv_connector/v1/offloading/metrics.py
  vllm/v1/kv_offload/base.py
  vllm/v1/kv_offload/tiering/base.py
  vllm/v1/kv_offload/tiering/manager.py
  vllm/v1/kv_offload/tiering/spec.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Removed tier wording outside of the tiering manager.
  docs/features/kv_offloading_usage.md
  tests/v1/kv_connector/unit/offloading_connector/test_metrics.py
  vllm/distributed/kv_transfer/kv_connector/v1/offloading/metrics.py
  vllm/v1/kv_offload/base.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Fix reduced auxiliary states in NVIDIA DeepSeek V3.2 model
  tests/models/test_deepseek_v32_aux_capture.py
  vllm/models/deepseek_v32/nvidia/model.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Perf] Parallelize registered Triton kernel warmup at startup
  tests/model_executor/test_jit_warmup_triton_launcher.py
  tests/test_envs.py
  vllm/envs.py
  vllm/model_executor/warmup/jit_warmup_triton_helper.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Bugfix][RL] Load HY-V4 learnable sinks through weight_loader
  vllm/models/hy_v4/amd/model.py
  vllm/models/hy_v4/nvidia/model.py
  vllm/models/hy_v4/nvidia/mtp.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[CI/Build] Pull the cu132 torch stack from the test channel
  requirements/cuda.txt
  requirements/test/cuda.txt
Due: none

[CI/Build] Move the default CUDA build from 13.0 to 13.2
  .buildkite/image_build/image_build_arm64.sh
  .buildkite/image_build/image_build_torch_nightly.sh
  .buildkite/release-pipeline.yaml
  .buildkite/scripts/check-ray-compatibility.sh
  .buildkite/scripts/generate-and-upload-nightly-index.sh
  .buildkite/scripts/hardware_ci/run-gh200-test.sh
  .pre-commit-config.yaml
  docker/Dockerfile
  docker/versions.json
  docs/contributing/ci/nightly_builds.md
  docs/getting_started/installation/gpu.cuda.inc.md
  requirements/test/cuda.txt
  setup.py
  vllm/envs.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, validate-docker-versions, check-boolean-context-manager

[Bugfix][RL] Load MiMo-V2 attention sink bias through weight_loader
  vllm/model_executor/models/mimo_v2.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Align nvidia-cudnn-cu13 / nvidia-nccl-cu13 with torch 2.14.0
  requirements/test/cuda.txt
Due: none

[Core] Update PyTorch to 2.14.0, torchvision to 0.29.0, triton to 3.8.0 (test channel)
  .buildkite/scripts/check-ray-compatibility.sh
  .buildkite/test_areas/quantization.yaml
  CMakeLists.txt
  docker/Dockerfile
  docker/Dockerfile.s390x
  docker/versions.json
  pyproject.toml
  requirements/build/cpu.txt
  requirements/build/cuda.txt
  requirements/cpu.txt
  requirements/cuda.txt
  requirements/test/cpu.txt
  requirements/test/cuda.in
  requirements/test/cuda.txt
  tests/standalone_tests/python_only_compile.sh
Due: validate-docker-versions

[CI] Bump torchao to 0.18.0 for torch 2.14
  .buildkite/test-amd.yaml
  .buildkite/test_areas/quantization.yaml
Due: none

[CI] RELEASE-ONLY: raise CPU model-test timeouts to measure the 2.14 slowdown
  .buildkite/hardware_tests/cpu.yaml
Due: none

[CI] RELEASE-ONLY: raise CPU Multi-Modal timeout to 120m
  .buildkite/hardware_tests/cpu.yaml
Due: none

[CI] Resolve CPU wheels from the torch test index instead of --torch-backend
  docker/Dockerfile.cpu
Due: none

[CI] Force fresh torch install in CPU image build for 2.14.0 RC
  .buildkite/image_build/image_build_cpu.sh
Due: none

[CI] Force fresh torch in CPU test shards for 2.14.0 RC
  .buildkite/scripts/hardware_ci/run-cpu-test.sh
  docker/Dockerfile.cpu
Due: none

[Bugfix][RL] Add shared loader for padded DeepSeek attention sinks
  tests/model_executor/model_loader/test_attn_sink_reload.py
  vllm/model_executor/model_loader/attention_sink.py
  vllm/models/deepseek_v4/sink.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fix(kv-transfer): configurable timeout and retry for Mooncake bootstrap query
  vllm/distributed/kv_transfer/kv_connector/v1/mooncake/mooncake_connector.py
  vllm/envs.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[ROCm][Perf] MXFP8 GEMM on native 32x32 block scales for gfx950
  tests/kernels/quantization/test_rocm_mxfp8_linear.py
  vllm/model_executor/kernels/linear/mxfp8/rocm_block32_gemm.py
  vllm/model_executor/kernels/linear/mxfp8/rocm_native.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Frontend] Add output_mode to /inference/v1/generate (RFC #56851 Phase 1)
  vllm/entrypoints/launchers/cli_args.py
  vllm/entrypoints/scale_out/token_in_token_out/api_router.py
  vllm/entrypoints/scale_out/token_in_token_out/protocol.py
  vllm/entrypoints/scale_out/token_in_token_out/serving.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fix(config): apply presence_penalty/frequency_penalty from override-generation-config (#50769)
  tests/config/test_config_generation.py
  tests/entrypoints/openai/test_penalty_default_resolution.py
  vllm/config/model.py
  vllm/entrypoints/openai/chat_completion/protocol.py
  vllm/entrypoints/openai/completion/protocol.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Bugfix] Resolve the Hub revision once per repo (#56092)
  tests/test_config.py
  tests/transformers_utils/test_config.py
  vllm/config/model.py
  vllm/model_executor/model_loader/runai_streamer_loader.py
  vllm/transformers_utils/repo_utils.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Frontend] Remove the slow tokenizer mode (#58545)
  benchmarks/backend_request_func.py
  examples/generate/multimodal/vision_language_multi_image_offline.py
  rust/src/bench/src/cli.rs
  tests/renderers/test_token_offsets.py
  tests/tokenizers_/test_basic.py
  tests/tokenizers_/test_registry.py
  vllm/benchmarks/serve.py
  vllm/config/model.py
  vllm/entrypoints/llm.py
  vllm/renderers/hf.py
  vllm/tokenizers/registry.py
  vllm/transformers_utils/processors/moondream3.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Revert "[DSpark] Support pipeline-parallel targets in aggregated serving (#56956)" (#58484)
  tests/kernels/moe/test_topk_softplus_sqrt.py
  tests/v1/spec_decode/test_dflash_prepare_inputs.py
  tests/v1/worker/test_pp_utils.py
  vllm/model_executor/layers/fused_moe/router/dsv4_topk.py
  vllm/model_executor/layers/fused_moe/router/fused_topk_bias_router.py
  vllm/v1/worker/gpu/input_batch.py
  vllm/v1/worker/gpu/model_runner.py
  vllm/v1/worker/gpu/pp_utils.py
  vllm/v1/worker/gpu/spec_decode/dflash/speculator.py
  vllm/v1/worker/gpu/warmup.py
  vllm/v1/worker/gpu_worker.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[ROCm][DSv4][Perf] Use the shared prefill chunk plan in the ROCm sparse prefill
  vllm/models/deepseek_v4/amd/rocm.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

remove unreliable bytes check
  tests/v1/kv_connector/unit/offloading_connector/test_config.py
  tests/v1/kv_offload/test_factory.py
  vllm/distributed/kv_transfer/kv_connector/v1/offloading/config.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[KV Offload] Allow replicated MLA layout for multi-group caches
  tests/v1/kv_offload/test_factory.py
  vllm/distributed/kv_transfer/kv_connector/v1/offloading/config.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fixes
  tests/v1/kv_connector/unit/offloading_connector/test_config.py
  vllm/distributed/kv_transfer/kv_connector/v1/offloading/config.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

add slidingwindow spec to replicated_layout for dsv4
  tests/v1/kv_connector/unit/offloading_connector/test_config.py
  vllm/distributed/kv_transfer/kv_connector/v1/offloading/config.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fixes
  vllm/distributed/kv_transfer/kv_connector/v1/offloading/config.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fixes
  tests/v1/kv_connector/unit/offloading_connector/test_config.py
  tests/v1/kv_offload/test_factory.py
  vllm/distributed/kv_transfer/kv_connector/v1/offloading/config.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Shorten the kpool tail-ring comments
  tests/kernels/test_kpool_decode_update_batched.py
  tests/v1/attention/test_kpool_tail_slot_mapping.py
  vllm/models/glm5next/amd/ops/kpool_compress.py
  vllm/models/glm5next/common/attention.py
  vllm/models/glm5next/nvidia/ops/kpool_compress.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

move tp-dedup detection to kv config generation
  tests/v1/core/test_kv_cache_utils.py
  tests/v1/kv_connector/unit/offloading_connector/test_config.py
  tests/v1/kv_offload/test_factory.py
  vllm/distributed/kv_transfer/kv_connector/v1/offloading/config.py
  vllm/v1/core/kv_cache_utils.py
  vllm/v1/kv_cache_interface.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fix canonical layout
  vllm/distributed/kv_transfer/kv_connector/v1/offloading/config.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Test] Move the DSv4 prefill chunk plan test to tests/v1/attention
  tests/kernels/attention/test_flashmla_sparse.py
  tests/v1/attention/test_sparse_swa_prefill_chunk_plan.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[ROCm] Read compact 32x32 wo_a scales in the grouped MXFP8 wo_a GEMM
  tests/kernels/attention/test_rocm_triton_attn_dsv4.py
  vllm/v1/attention/ops/rocm_aiter_mla_sparse.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Address review: docs note that plain-path streaming resolves logprobs
  docs/serving/online_serving/derenderer.md
Due: none

[Perf][HYV4] Fuse iHC boundaries across decoder layers
  tests/model_executor/layers/test_hyv4_ihc.py
  vllm/envs.py
  vllm/model_executor/layers/hpc/__init__.py
  vllm/model_executor/layers/hpc/hpc_ihc.py
  vllm/models/hy_v4/nvidia/hc.py
  vllm/models/hy_v4/nvidia/model.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

feat(attention): enable FA4 graphs for adaptive verification
  .buildkite/test_areas/kernels.yaml
  tests/kernels/attention/test_flash_attn.py
  tests/v1/attention/test_attention_backends.py
  vllm/v1/attention/backends/flash_attn.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

update
  tests/v1/cudagraph/test_cudagraph_manager.py
  vllm/v1/worker/gpu/cudagraph_utils.py
  vllm/v1/worker/gpu/dp_utils.py
  vllm/v1/worker/gpu/spec_decode/autoregressive/cudagraph_utils.py
  vllm/v1/worker/gpu/spec_decode/autoregressive/speculator.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Path conditions:
  format-torch-nightly-test: any of: ^requirements/test\.(in|txt)$, but not: vllm/third_party/.*
  check-spdx-header: any of: \.py$, but not: vllm/third_party/.*
  check-root-lazy-imports: any of: \.py$, but not: vllm/third_party/.*
  enforce-import-regex-instead-of-re: any of: \.py$, but not: vllm/third_party/.*
  forbid-direct-triton-import: any of: \.py$, but not: vllm/third_party/.*
  check-pickle-imports: any of: \.py$, but not: vllm/third_party/.*
  validate-docker-versions: any of: ^docker/(Dockerfile|versions\.json)$, but not: vllm/third_party/.*
  check-boolean-context-manager: any of: \.py$, but not: vllm/third_party/.*
