Repository vllm-project/vllm: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-torch-nightly-test, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, validate-docker-versions, check-boolean-context-manager

Path conditions:
  format-torch-nightly-test: any of: ^requirements/test\.(in|txt)$, but not: vllm/third_party/.*
  check-spdx-header: any of: \.py$, but not: vllm/third_party/.*
  check-root-lazy-imports: any of: \.py$, but not: vllm/third_party/.*
  enforce-import-regex-instead-of-re: any of: \.py$, but not: vllm/third_party/.*
  forbid-direct-triton-import: any of: \.py$, but not: vllm/third_party/.*
  check-pickle-imports: any of: \.py$, but not: vllm/third_party/.*
  validate-docker-versions: any of: ^docker/(Dockerfile|versions\.json)$, but not: vllm/third_party/.*
  check-boolean-context-manager: any of: \.py$, but not: vllm/third_party/.*

[Bugifx][INC] Fix INC quantization method selection for non-quantized layers (#47237)
  tests/quantization/test_auto_round.py
  vllm/model_executor/layers/quantization/inc/inc.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Bugfix] Account for client queue time in serve benchmarks (#54136)
  docs/benchmarking/cli.md
  vllm/benchmarks/lib/endpoint_request_func.py
  vllm/benchmarks/serve.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Bugfix] Support MCP SDK 2.x tool input schemas
  requirements/common.txt
  requirements/test/xpu.txt
  tests/entrypoints/openai/responses/test_mcp_tools.py
  vllm/entrypoints/mcp/tool_server.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Shard model runner v2 spec decode CI
  .buildkite/test_areas/model_runner_v2.yaml
Due: none

[CI] Shard LoRA TP distributed tests
  .buildkite/test_areas/lora.yaml
Due: none

[CI] Split MoE Refactor Integration Test (H100) config list across 4 shards
  .buildkite/test_areas/lm_eval.yaml
  tests/evals/gsm8k/configs/moe-refactor/config-h100-shard-0.txt
  tests/evals/gsm8k/configs/moe-refactor/config-h100-shard-1.txt
  tests/evals/gsm8k/configs/moe-refactor/config-h100-shard-2.txt
  tests/evals/gsm8k/configs/moe-refactor/config-h100-shard-3.txt
  tests/evals/gsm8k/configs/moe-refactor/config-h100.txt
Due: none

[CI] Split Spec Decode MTP nightly acceptance job into 2 shards
  .buildkite/test_areas/spec_decode.yaml
Due: none

clean up unnecessary tests
  tests/kernels/mamba/test_ssu_dispatch.py
  tests/model_executor/test_replayssm_warmup.py
  tests/test_config.py
  tests/v1/e2e/test_replayssm_decode.py
  tests/v1/worker/test_utils.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[CI] Rebalance hybrid SSM PD shards to 4-way for structural margin
  .buildkite/test_areas/disaggregated.yaml
Due: none

[CI] Shard Hybrid SSM NixlConnector PD accuracy tests into 3 config groups
  .buildkite/test_areas/disaggregated.yaml
  tests/v1/kv_connector/nixl_integration/config_sweep_accuracy_test.sh
Due: none

[Bugfix][KV Offload] Register mixed page sizes in one cache group
  tests/v1/attention/utils.py
  tests/v1/simple_kv_offload/test_worker.py
  vllm/v1/simple_kv_offload/worker.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Shard v1 core, KV, and metrics CI
  .buildkite/test_areas/misc.yaml
Due: none

[CI] Shard long misc test groups
  .buildkite/test_areas/misc.yaml
Due: none

Shard entrypoints API server CI
  .buildkite/test_areas/entrypoints.yaml
Due: none

[CI] Shard long kernel test groups
  .buildkite/test_areas/kernels.yaml
Due: none

Remove white spaces and comments
  vllm/config/speculative.py
  vllm/model_executor/models/nemotron_h_mtp.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

linting
  vllm/config/speculative.py
  vllm/model_executor/models/nemotron_h_mtp.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Simplify Nemotron MTP LM-head loading
  vllm/model_executor/models/nemotron_h_mtp.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

support separate lm head for nemotron mtp, with a quantization config.
  vllm/config/speculative.py
  vllm/model_executor/models/nemotron_h_mtp.py
  vllm/v1/spec_decode/llm_base_proposer.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Refactor Nemotron MTP LM-head ownership
  vllm/model_executor/models/nemotron_h_mtp.py
  vllm/v1/spec_decode/llm_base_proposer.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Limit Nemotron MTP remapping to scales
  vllm/model_executor/models/nemotron_h_mtp.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

add mtp to uses_aux_hidden_states
  vllm/config/speculative.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

remove redundant changes
  vllm/model_executor/models/nemotron_h_mtp.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Use standard draft quant config for Nemotron MTP Resolve rebase conflicts
  vllm/model_executor/models/nemotron_h_mtp.py
  vllm/v1/spec_decode/llm_base_proposer.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Infer Nemotron MTP LM-head ownership from checkpoint
  vllm/config/speculative.py
  vllm/model_executor/models/nemotron_h_mtp.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

CR changes
  vllm/model_executor/models/nemotron_h_mtp.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

embedding layer validation fix
  vllm/model_executor/models/nemotron_h_mtp.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[CI] Shard long language-model test groups
  .buildkite/scripts/check-hybrid-test-deps.py
  .buildkite/test_areas/models_language.yaml
  docker/Dockerfile
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, validate-docker-versions, check-boolean-context-manager

[CI] Shard long multimodal test groups
  .buildkite/test_areas/models_multimodal.yaml
Due: none

[CI] Expand Basic Models (Extra Initialization) to 14 shards
  .buildkite/test_areas/models_basic.yaml
Due: none

[Bugfix] Derive FA version from the worker's own device, not device 0
  vllm/v1/attention/backends/fa_utils.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Feature][Spec] Support disabling trailing prefix-cache block dropping (#53388)
  tests/test_config.py
  tests/v1/core/prefix_cache/test_partial_prefix_cache_hits.py
  tests/v1/core/test_kv_cache_utils.py
  tests/v1/core/test_mamba_align_chunk_split.py
  tests/v1/core/test_prefix_caching.py
  tests/v1/core/test_single_type_kv_cache_manager.py
  vllm/config/speculative.py
  vllm/distributed/kv_transfer/kv_connector/v1/mooncake/store/worker.py
  vllm/distributed/kv_transfer/kv_connector/v1/offloading/scheduler.py
  vllm/v1/core/kv_cache_utils.py
  vllm/v1/core/sched/scheduler.py
  vllm/v1/core/single_type_kv_cache_manager.py
  vllm/v1/simple_kv_offload/manager.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Kernel][Qwen] Add Hopper LL-GEMM tuning table for Qwen4Exp (#54560)
  tests/kernels/test_bf16_skinny_gemm.py
  vllm/models/qwen4_exp/nvidia/low_latency_gemm.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Only cache an explicitly given chat template
  vllm/renderers/hf.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[ROCm][MLA] Fix mypy errors from the optional rotary_emb on MLAAttention
  tests/kernels/core/test_fused_qk_rope_concat_and_cache_mla.py
  vllm/models/deepseek_v32/amd/rocm.py
  vllm/models/deepseek_v32/attention.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager
