Repository vllm-project/vllm: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-torch-nightly-test, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, validate-docker-versions, check-boolean-context-manager

Path conditions:
  format-torch-nightly-test: any of: ^requirements/test\.(in|txt)$, but not: vllm/third_party/.*
  check-spdx-header: any of: \.py$, but not: vllm/third_party/.*
  check-root-lazy-imports: any of: \.py$, but not: vllm/third_party/.*
  enforce-import-regex-instead-of-re: any of: \.py$, but not: vllm/third_party/.*
  forbid-direct-triton-import: any of: \.py$, but not: vllm/third_party/.*
  check-pickle-imports: any of: \.py$, but not: vllm/third_party/.*
  validate-docker-versions: any of: ^docker/(Dockerfile|versions\.json)$, but not: vllm/third_party/.*
  check-boolean-context-manager: any of: \.py$, but not: vllm/third_party/.*

Vram semaphore infra (#44465)
  requirements/cuda.txt
  tests/multimodal/test_gpu_ipc_memory.py
  tests/multimodal/test_video.py
  tests/v1/worker/test_gpu_worker.py
  vllm/config/model.py
  vllm/config/multimodal.py
  vllm/engine/arg_utils.py
  vllm/multimodal/gpu_ipc_memory.py
  vllm/multimodal/video.py
  vllm/renderers/base.py
  vllm/v1/worker/gpu_worker.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[ROCm][Test] Add skip_global_cleanup to test_rocm_mxfp4_moe_oracle
  tests/kernels/moe/test_ocp_mx_moe.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Attention][DSA] Defer FlashInfer sparse MLA MTP query grouping
  vllm/v1/attention/backends/mla/flashinfer_mla_sparse.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Fix unflatten_tool_name to only split tools that are defined as NamespaceTool
  vllm/entrypoints/openai/responses/harmony.py
  vllm/entrypoints/openai/responses/serving.py
  vllm/entrypoints/openai/responses/streaming_events.py
  vllm/entrypoints/openai/responses/utils.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

test: deflake abort-burst test by asserting the aborted id set
  rust/src/engine-core-client/src/tests/client.rs
Due: none

skip -1 filling & fix fused kernels
  vllm/model_executor/layers/sparse_attn_indexer.py
  vllm/models/deepseek_v32/nvidia/attention.py
  vllm/models/deepseek_v32/nvidia/kernels.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

removed ray from single node
  serving_scripts/r128_sp128_sd128_tp4_qwen3_30b.sh
  serving_scripts/r128_sp128_sd128_tp8_qwen3-235b.sh
  serving_scripts/r128_sp128_sd128_tp8_qwen3_30b.sh
  serving_scripts/r128_sp128_sd512_tp4_qwen3_30b.sh
  serving_scripts/r128_sp128_sd512_tp8_qwen3-235b.sh
  serving_scripts/r128_sp128_sd512_tp8_qwen3_30b.sh
  serving_scripts/r128_sp512_sd128_tp4_qwen3_30b.sh
  serving_scripts/r128_sp512_sd128_tp8_qwen3-235b.sh
  serving_scripts/r128_sp512_sd128_tp8_qwen3_30b.sh
Due: none

Fix DiffusionGemma GGUF tied embeddings
  tests/model_executor/test_diffusion_gemma.py
  vllm/model_executor/models/diffusion_gemma.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[BugFix] Rebuild InputBatch when max_model_len is auto-reduced
  vllm/v1/worker/gpu_model_runner.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Apply ruff formatting to ROCm platform check
  vllm/platforms/rocm.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Misc] Fix incorrect layer type annotation in Fp8LinearMethod
  vllm/model_executor/layers/quantization/fp8.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

removed ray from single node
  serving_scripts/r128_sp128_sd128_pp2_tp4_llama4_maverick_17b_128e.sh
  serving_scripts/r128_sp128_sd128_pp2_tp4_qwen3-235b.sh
  serving_scripts/r128_sp128_sd128_pp2_tp4_qwen3_30b.sh
  serving_scripts/r128_sp128_sd128_pp2_tp8_llama4_maverick_17b_128e.sh
  serving_scripts/r128_sp128_sd128_pp2_tp8_qwen3-235b.sh
  serving_scripts/r128_sp128_sd128_pp2_tp8_qwen3_30b.sh
  serving_scripts/r128_sp128_sd128_tp4_qwen3_30b.sh
  serving_scripts/r128_sp128_sd128_tp8_qwen3-235b.sh
  serving_scripts/r128_sp128_sd128_tp8_qwen3_30b.sh
  serving_scripts/r128_sp128_sd512_pp2_tp4_llama4_maverick_17b_128e.sh
  serving_scripts/r128_sp128_sd512_pp2_tp4_qwen3-235b.sh
  serving_scripts/r128_sp128_sd512_pp2_tp4_qwen3_30b.sh
  serving_scripts/r128_sp128_sd512_pp2_tp8_llama4_maverick_17b_128e.sh
  serving_scripts/r128_sp128_sd512_pp2_tp8_qwen3-235b.sh
  serving_scripts/r128_sp128_sd512_pp2_tp8_qwen3_30b.sh
  serving_scripts/r128_sp128_sd512_tp4_qwen3_30b.sh
  serving_scripts/r128_sp128_sd512_tp8_qwen3-235b.sh
  serving_scripts/r128_sp128_sd512_tp8_qwen3_30b.sh
  serving_scripts/r128_sp512_sd128_pp2_tp4_llama4_maverick_17b_128e.sh
  serving_scripts/r128_sp512_sd128_pp2_tp4_qwen3-235b.sh
  serving_scripts/r128_sp512_sd128_pp2_tp4_qwen3_30b.sh
  serving_scripts/r128_sp512_sd128_pp2_tp8_llama4_maverick_17b_128e.sh
  serving_scripts/r128_sp512_sd128_pp2_tp8_qwen3-235b.sh
  serving_scripts/r128_sp512_sd128_pp2_tp8_qwen3_30b.sh
  serving_scripts/r128_sp512_sd128_tp4_qwen3_30b.sh
  serving_scripts/r128_sp512_sd128_tp8_qwen3-235b.sh
  serving_scripts/r128_sp512_sd128_tp8_qwen3_30b.sh
  serving_scripts/test_ip.sh
Due: none

[Core][KV-transfer] MoRIIO: multi-node TP prefill→decode dispatch via published host list
  examples/disaggregated/disaggregated_serving/moriio_toy_proxy_server.py
  vllm/distributed/kv_transfer/kv_connector/v1/moriio/moriio_common.py
  vllm/distributed/kv_transfer/kv_connector/v1/moriio/moriio_connector.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

style: trim MoRIIO host fallback comments
  vllm/distributed/kv_transfer/kv_connector/v1/moriio/moriio_common.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fixes
  vllm/distributed/kv_transfer/kv_connector/v1/offloading/worker.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Revert "[Bugfix][Model] Support tensor parallelism for DiffusionGemma (#45719) (#46177)"
  .buildkite/test_areas/lm_eval.yaml
  tests/evals/gsm8k/configs/DiffusionGemma-26B-A4B-it-FP8-dynamic.yaml
  tests/evals/gsm8k/configs/models-small-tp.txt
  vllm/model_executor/models/diffusion_gemma.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[ModelRunner V2] Support realtime embeddings (#46762)
  tests/v1/worker/test_encoder_runner.py
  vllm/model_executor/models/diffusion_gemma.py
  vllm/v1/worker/gpu/mm/encoder_runner.py
  vllm/v1/worker/gpu/model_runner.py
  vllm/v1/worker/gpu/model_states/default.py
  vllm/v1/worker/gpu/model_states/interface.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[ROCm][CI] Add ci_base metadata for external cache orchestration
  .buildkite/scripts/ci-bake-rocm.sh
  docker/ci-rocm.hcl
Due: none

[Build] Update vllm to point to vllm-project/flash-attention commit that builds FA3 with torch stable API. (#46644)
  cmake/external_projects/vllm_flash_attn.cmake
Due: none

[Build] Show error message when using ROCm with LTO and different compilers (#35232)
  CMakeLists.txt
Due: none

fix(docker): eliminate race conditions in shared buildkit cache mounts (#44984)
  docker/Dockerfile
  docker/Dockerfile.nightly_torch
  docker/Dockerfile.xpu
Due: validate-docker-versions

[ROCm][CI] Relax fused layernorm quant test tolerances for one-ULP outliers (#46658)
  tests/kernels/core/test_fused_quant_layernorm.py
  tests/kernels/core/test_layernorm.py
  tests/kernels/test_fused_deepseek_v4_qnorm_rope_kv_insert.py
  tests/kernels/utils.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[ROCm][CI TG] refactor and fix deepep_moe test group (#46758)
  tests/kernels/moe/test_deepep_moe.py
  tests/kernels/moe/test_ocp_mx_moe.py
  tests/kernels/moe/utils.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[MoE] Add NCCL EP all2all backend for expert parallelism
  vllm/config/parallel.py
  vllm/distributed/device_communicators/all2all.py
  vllm/distributed/device_communicators/cuda_communicator.py
  vllm/model_executor/layers/fused_moe/all2all_utils.py
  vllm/model_executor/layers/fused_moe/config.py
  vllm/model_executor/layers/fused_moe/prepare_finalize/nccl_ep.py
  vllm/model_executor/layers/fused_moe/prepare_finalize/nccl_ep_batched.py
  vllm/utils/import_utils.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Handle JSON tool calls in Llama 4 pythonic parser
  tests/tool_parsers/test_llama4_pythonic_tool_parser.py
  vllm/tool_parsers/llama4_pythonic_tool_parser.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

feat(sm12x): default packed prefill on when SM120 FI backend active
  tests/utils_/test_dsv4_sm120_prefill_gate.py
  vllm/envs.py
  vllm/utils/flashinfer.py
  vllm/v1/attention/backends/mla/sparse_swa.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[MoE Backend] add HPC-Ops MoE backend (#45924)
  docs/design/moe_kernel_features.md
  vllm/config/kernel.py
  vllm/model_executor/layers/fused_moe/hpc_moe.py
  vllm/model_executor/layers/fused_moe/oracle/fp8.py
  vllm/utils/hpc.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[ROCm][CI] Add TRITON_ATTN score absolute tolerance floor
  tests/entrypoints/pooling/scoring/test_cross_encoder_online_vision.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Guard against DeepEPv2 SIGSEGV when NCCL GIN is unavailable
  tests/kernels/moe/parallel_utils.py
  vllm/distributed/device_communicators/all2all.py
  vllm/distributed/device_communicators/pynccl_wrapper.py
  vllm/utils/nccl.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Bugfix][MM][CG] Fix two encoder CUDA graph capture bugs for Gemma-4
  vllm/model_executor/models/gemma4_mm.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Eval] Add GSM8K correctness test for SSM models with KV offloading
  tests/evals/gsm8k/test_gsm8k_offloading.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Refresh full graph metadata before replay
  tests/compile/test_cudagraph_context_refresh.py
  vllm/compilation/cuda_graph.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[CI/Test] Skip FlashAttnMLA + FP8 KV cache cell in test_mla_rope_kvcache_cat_fusion
  tests/compile/passes/test_mla_rope_kvcache_cat_fusion.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Add Gemma-4-E4B-it and DeepSeek-V4-Flash to offloading eval
  tests/evals/gsm8k/test_gsm8k_offloading.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Add Buildkite CI steps for KV offloading eval
  .buildkite/test_areas/lm_eval.yaml
Due: none

[ROCm][CI]Fix test_concat_and_cache_mla_rope_fused on ROCm (#46409)
  tests/kernels/core/test_rotary_embedding_mla_cache_fused.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fix test
  examples/rl/rlhf_async_new_apis.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Apply ruff formatting
  tests/evals/gsm8k/test_gsm8k_offloading.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Use [tag] labels and short keys for offloading CI steps
  .buildkite/test_areas/lm_eval.yaml
Due: none

Classify offloading CI steps by size, not architecture
  .buildkite/test_areas/lm_eval.yaml
Due: none
