Repository vllm-project/vllm: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-torch-nightly-test, mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

format-torch-nightly-test:
  name: reformat nightly_torch_test.txt to be in sync with test.in
  language: python
  entry: python tools/generate_nightly_torch_test.py

mypy-local:
  name: Run mypy for local Python installation
  entry: tools/mypy.sh 0 "local"
  language: python
  additional_dependencies:
  - mypy==1.11.1
  - types-cachetools
  - types-setuptools
  - types-PyYAML
  - types-requests
  - pydantic
  stages:
  - pre-commit

check-spdx-header:
  name: Check SPDX headers
  entry: python tools/check_spdx_header.py
  language: python

check-root-lazy-imports:
  name: Check root lazy imports
  entry: python tools/check_init_lazy_imports.py
  language: python

enforce-import-regex-instead-of-re:
  name: Enforce import regex as re
  entry: python tools/enforce_regex_import.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - regex

forbid-direct-triton-import:
  name: Forbid direct 'import triton'
  entry: python tools/check_triton_import.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - regex

check-pickle-imports:
  name: Prevent new pickle/cloudpickle imports
  entry: python tools/check_pickle_imports.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pathspec
  - regex

Docstrings from Opus 4.6
  vllm/config/model.py
  vllm/inputs/data.py
  vllm/model_executor/layers/fused_moe/cpu_fused_moe.py
  vllm/model_executor/layers/fused_moe/cutlass_moe.py
  vllm/model_executor/layers/fused_moe/deep_gemm_moe.py
  vllm/model_executor/layers/fused_moe/fused_marlin_moe.py
  vllm/model_executor/layers/fused_moe/fused_moe.py
  vllm/model_executor/layers/fused_moe/gpt_oss_triton_kernels_moe.py
  vllm/model_executor/layers/fused_moe/layer.py
  vllm/model_executor/layers/fused_moe/pplx_prepare_finalize.py
  vllm/model_executor/layers/fused_moe/prepare_finalize.py
  vllm/model_executor/layers/fused_moe/rocm_aiter_fused_moe.py
  vllm/model_executor/layers/fused_moe/trtllm_moe.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors_moe.py
  vllm/model_executor/layers/quantization/mxfp4.py
  vllm/model_executor/models/blip2.py
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/llava_next.py
  vllm/multimodal/processing/processor.py
  vllm/platforms/interface.py
  vllm/plugins/__init__.py
  vllm/plugins/io_processors/interface.py
  vllm/v1/engine/async_llm.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

Fix
  tests/v1/streaming_input/test_async_llm_streaming.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

init FI topk integration
  tests/kernels/test_top_k_per_row.py
  vllm/model_executor/layers/sparse_attn_indexer.py
  vllm/v1/attention/ops/rocm_aiter_mla_sparse.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

Fix parsing structured system messages for harmony model identity
  tests/entrypoints/openai/responses/test_harmony.py
  vllm/entrypoints/openai/responses/serving.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[Misc] Introduce ec_both role EC (encoder cache) connector (#34182)
  vllm/config/ec_transfer.py
  vllm/distributed/ec_transfer/ec_connector/base.py
  vllm/v1/worker/ec_connector_model_runner_mixin.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

Add docstrings for V0 class aliases
  vllm/engine/async_llm_engine.py
  vllm/engine/llm_engine.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

python -> python3
  .buildkite/test_areas/benchmarks.yaml
Due: none

Carve out hdim 192 exception
  vllm/v1/attention/backends/fa_utils.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

Add tile-shape heuristic for AMD RDNA architecture in triton_scaled_mm kernel
  vllm/model_executor/layers/quantization/compressed_tensors/triton_scaled_mm.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

Update benchmarks
  benchmarks/attention_benchmarks/benchmark.py
  benchmarks/attention_benchmarks/common.py
  benchmarks/attention_benchmarks/mla_runner.py
  vllm/model_executor/layers/attention/mla_attention.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

Add mla_prefill.yaml
  benchmarks/attention_benchmarks/configs/mla_prefill.yaml
Due: none

clean up comments
  vllm/model_executor/layers/quantization/compressed_tensors/triton_scaled_mm.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

adding test
  .buildkite/image_build/image_build.sh
  .buildkite/image_build/image_build_cpu.sh
Due: none

[test] Update test_voxtral expected output for PyTorch 2.11+ cuBLAS changes
  tests/models/multimodal/generation/test_voxtral.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[Kernel] Optimize grouped topk kernel
  csrc/moe/grouped_topk_kernels.cu
  csrc/moe/moeTopKFuncs.cuh
  tests/kernels/moe/test_grouped_topk.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

fix(qwen3-omni): Fix use_audio_in_video detection in prompt updates
  tests/model_executor/test_qwen3_omni.py
  vllm/model_executor/models/qwen2_5_omni_thinker.py
  vllm/model_executor/models/qwen3_omni_moe_thinker.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[Misc] Add pre-commit hook to catch boolean ops in with-statements
  .pre-commit-config.yaml
  tools/pre_commit/check_boolean_context_manager.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

Convert online APIs to use Renderer (#34084)
  vllm/entrypoints/openai/speech_to_text/speech_to_text.py
  vllm/entrypoints/serve/disagg/serving.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

Test other mla prefill backends
  benchmarks/attention_benchmarks/configs/mla_prefill.yaml
  benchmarks/attention_benchmarks/mla_runner.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

Set working_dir
  .buildkite/test_areas/benchmarks.yaml
Due: none

faster merged kernel
  vllm/lora/ops/triton_ops/fused_moe_lora_op.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[Misc] Bump fastsafetensors version for latest fixes
  requirements/nightly_torch_test.txt
  requirements/test.in
  requirements/test.txt
  setup.py
Due: format-torch-nightly-test, mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

Review changes
  csrc/moe/grouped_topk_kernels.cu
Due: none

spelling
  vllm/distributed/eplb/eplb_state.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[Bugfix] Fix weights offloading for sleep mode (#32947)
  vllm/v1/worker/gpu_worker.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

fix(mxfp4): Apply expert_map remapping in triton_kernel_moe_forward for EP
  tests/kernels/quantization/test_mxfp4_triton_ep.py
  vllm/model_executor/layers/fused_moe/gpt_oss_triton_kernels_moe.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

Actually run tests/kernels/quantization/test_block_fp8.py in CI Signed-off-by: mgoin <mgoin64@gmail.com>
  .buildkite/test_areas/kernels.yaml
  tests/kernels/quantization/test_block_fp8.py
  vllm/utils/flashinfer.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

limit heuristic to RDNA3 arch
  vllm/model_executor/layers/quantization/compressed_tensors/triton_scaled_mm.py
  vllm/platforms/rocm.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

fix
  vllm/v1/engine/detokenizer.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

pre-commit
  tools/pre_commit/check_boolean_context_manager.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

gemini review comment
  tools/pre_commit/check_boolean_context_manager.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[Benchmarks] Fix attention benchmark smoke test (#34269)
  .buildkite/test_areas/benchmarks.yaml
Due: none

fix: convert list/tuple to iterator before calling next() on tool_calls_validator
  vllm/tokenizers/mistral.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

fix(mistral): Validate tool_calls type before iterating
  tests/tokenizers_/test_mistral.py
  vllm/tokenizers/mistral.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

Path conditions:
  format-torch-nightly-test: any of: ^requirements/test\.(in|txt)$, but not: vllm/third_party/.*
  mypy-local: any of: \.py$, but not: vllm/third_party/.*
  check-spdx-header: any of: \.py$, but not: vllm/third_party/.*
  check-root-lazy-imports: any of: \.py$, but not: vllm/third_party/.*
  enforce-import-regex-instead-of-re: any of: \.py$, but not: vllm/third_party/.*
  forbid-direct-triton-import: any of: \.py$, but not: vllm/third_party/.*
  check-pickle-imports: any of: \.py$, but not: vllm/third_party/.*
