Repository vllm-project/vllm: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-torch-nightly-test, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, validate-docker-versions, check-boolean-context-manager

format-torch-nightly-test:
  name: reformat nightly_torch_test.txt to be in sync with test.in
  language: python
  entry: python tools/pre_commit/generate_nightly_torch_test.py

check-spdx-header:
  name: Check SPDX headers
  entry: python tools/pre_commit/check_spdx_header.py
  language: python

check-root-lazy-imports:
  name: Check root lazy imports
  entry: python tools/pre_commit/check_init_lazy_imports.py
  language: python

enforce-import-regex-instead-of-re:
  name: Enforce import regex as re
  entry: python tools/pre_commit/enforce_regex_import.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - regex

forbid-direct-triton-import:
  name: Forbid direct 'import triton'
  entry: python tools/pre_commit/check_triton_import.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - regex

check-pickle-imports:
  name: Prevent new pickle/cloudpickle imports
  entry: python tools/pre_commit/check_pickle_imports.py
  language: python
  additional_dependencies:
  - regex

validate-docker-versions:
  name: Validate docker/versions.json matches Dockerfile
  entry: python tools/generate_versions_json.py --check
  language: python
  pass_filenames: false
  additional_dependencies:
  - dockerfile-parse

check-boolean-context-manager:
  name: Check for boolean ops in with-statements
  entry: python tools/pre_commit/check_boolean_context_manager.py
  language: python

Revert wave32 butterfly reduction on GFX11 wvSplitK kernels
  csrc/rocm/skinny_gemms.cu
  csrc/rocm/skinny_gemms_int4.cu
  csrc/rocm/skinny_gemms_int8.cu
Due: none

[XPU] Upgrade torch 2.11 for xpu (#37947)
  docker/Dockerfile.xpu
  docs/getting_started/installation/gpu.xpu.inc.md
  requirements/test/xpu.txt
  requirements/xpu.txt
Due: none

[ROCm] Implement GPU-to-NUMA-node detection (#40015)
  docs/configuration/optimization.md
  vllm/platforms/rocm.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fix: emit response.failed for responses streaming generation errors
  tests/entrypoints/openai/responses/test_serving_responses.py
  vllm/entrypoints/openai/responses/protocol.py
  vllm/entrypoints/openai/responses/serving.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fix: preserve debug metadata in response.failed events
  tests/entrypoints/openai/responses/test_serving_responses.py
  vllm/entrypoints/openai/responses/serving.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

wip
  calibration/qwen3_30b_a3b_instruct_2507.json
  results/SUMMARY.md
  results/accuracy/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pf218.91-dc0.00741_kvdtype-auto_gsm8k/__models__Qwen3__Qwen3-30B-A3B-Instruct-2507/results_2026-04-23T12-51-00.798323.json
  results/accuracy/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pf218.91-dc0.00741_kvdtype-auto_longbench_e/__models__Qwen3__Qwen3-30B-A3B-Instruct-2507/results_2026-04-23T13-19-26.358648.json
  results/accuracy/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pf218.91-dc0.00741_kvdtype-auto_mmlu_pro/__models__Qwen3__Qwen3-30B-A3B-Instruct-2507/results_2026-04-23T13-16-36.532178.json
  results/accuracy/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pf3616.16-dc22.092_kvdtype-auto_gsm8k/__models__Qwen3__Qwen3-30B-A3B-Instruct-2507/results_2026-04-23T14-32-59.369226.json
  results/accuracy/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pf3616.16-dc22.092_kvdtype-auto_longbench_e/__models__Qwen3__Qwen3-30B-A3B-Instruct-2507/results_2026-04-23T14-54-06.122189.json
  results/accuracy/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pf3616.16-dc22.092_kvdtype-auto_mmlu_pro/__models__Qwen3__Qwen3-30B-A3B-Instruct-2507/results_2026-04-23T14-51-17.927497.json
  results/accuracy/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pf889.72-dc0.40463_kvdtype-auto_gsm8k/__models__Qwen3__Qwen3-30B-A3B-Instruct-2507/results_2026-04-23T13-43-31.140362.json
  results/accuracy/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pf889.72-dc0.40463_kvdtype-auto_longbench_e/__models__Qwen3__Qwen3-30B-A3B-Instruct-2507/results_2026-04-23T14-09-27.795086.json
  results/accuracy/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pf889.72-dc0.40463_kvdtype-auto_mmlu_pro/__models__Qwen3__Qwen3-30B-A3B-Instruct-2507/results_2026-04-23T14-06-38.178859.json
  results/accuracy/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pfnone-dcnone_kvdtype-auto_gsm8k/__models__Qwen3__Qwen3-30B-A3B-Instruct-2507/results_2026-04-23T11-57-47.041145.json
  results/accuracy/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pfnone-dcnone_kvdtype-auto_longbench_e/__models__Qwen3__Qwen3-30B-A3B-Instruct-2507/results_2026-04-23T12-26-08.336198.json
  results/accuracy/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pfnone-dcnone_kvdtype-auto_mmlu_pro/__models__Qwen3__Qwen3-30B-A3B-Instruct-2507/results_2026-04-23T12-23-13.971479.json
  results/perf/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pf10000-dc500_kvdtype-auto_isl-100000_osl-500_conc-4.json
  results/perf/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pf10000-dc500_kvdtype-auto_isl-100000_osl-500_conc-64.json
  results/perf/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pf10000-dc500_kvdtype-auto_isl-10000_osl-500_conc-4.json
  results/perf/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pf10000-dc500_kvdtype-auto_isl-10000_osl-500_conc-64.json
  results/perf/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pf218.91-dc0.00741_kvdtype-auto_isl-100000_osl-500_conc-16.json
  results/perf/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pf218.91-dc0.00741_kvdtype-auto_isl-10000_osl-500_conc-16.json
  results/perf/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pf3616.16-dc22.092_kvdtype-auto_isl-100000_osl-500_conc-16.json
  results/perf/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pf3616.16-dc22.092_kvdtype-auto_isl-10000_osl-500_conc-16.json
  results/perf/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pf889.72-dc0.40463_kvdtype-auto_isl-100000_osl-500_conc-16.json
  results/perf/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pf889.72-dc0.40463_kvdtype-auto_isl-10000_osl-500_conc-16.json
  results/perf/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pfnone-dcnone_kvdtype-auto_isl-100000_osl-500_conc-16.json
  results/perf/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pfnone-dcnone_kvdtype-auto_isl-100000_osl-500_conc-4.json
  results/perf/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pfnone-dcnone_kvdtype-auto_isl-100000_osl-500_conc-64.json
  results/perf/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pfnone-dcnone_kvdtype-auto_isl-10000_osl-500_conc-16.json
  results/perf/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pfnone-dcnone_kvdtype-auto_isl-10000_osl-500_conc-4.json
  results/perf/_models_Qwen3_Qwen3-30B-A3B-Instruct-2507_thresh-pfnone-dcnone_kvdtype-auto_isl-10000_osl-500_conc-64.json
  tests/skip_softmax_perf.sh
  tests/skip_softmax_run_all.sh
Due: none

update
  vllm/config/model.py
  vllm/model_executor/layers/fused_moe/fused_humming_moe.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[CI] Split disaggregated tests into own test-area (#40623)
  .buildkite/test_areas/disaggregated.yaml
  .buildkite/test_areas/distributed.yaml
  tests/v1/kv_connector/nixl_integration/config_sweep_accuracy_test.sh
Due: none

updated
  vllm/model_executor/layers/fused_moe/oracle/int_wna16.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

refactor: unify 2D/3D attention kernels in triton_unified_attention
  vllm/v1/attention/ops/triton_attention_helpers.py
  vllm/v1/attention/ops/triton_unified_attention.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Bugfix] Avoid mutating `chat_template_kwargs` in `HYV3ReasoningParser` initialization
  vllm/reasoning/hy_v3_reasoning_parser.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

switching dockerfile to track aiter main
  docker/Dockerfile.rocm
Due: none

[PLT] fix bug when swap states for input batch
  examples/online_serving/openai_chat_completion_client.py
  vllm/v1/worker/gpu_input_batch.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Update hy_v3_reasoning_parser.py
  vllm/reasoning/hy_v3_reasoning_parser.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fix
  vllm/model_executor/layers/fused_moe/fused_humming_moe.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fix mypi
  vllm/reasoning/hy_v3_reasoning_parser.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

build: bump CUDA to 13.0.2 across Dockerfile, bake config, buildkite, and docs
  .buildkite/image_build/image_build_torch_nightly.sh
  .buildkite/release-pipeline.yaml
  docker/Dockerfile
  docker/versions.json
  docs/getting_started/installation/gpu.cuda.inc.md
Due: validate-docker-versions

docs: regenerate Dockerfile stages dependency graph after CUDA bump
  docs/assets/contributing/dockerfile-stages-dependency.png
Due: none

clean more dead codes
  vllm/model_executor/models/mimo_v2_omni.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

better fix
  vllm/model_executor/layers/fused_moe/runner/moe_runner.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fix DeepSeek V2-Lite Accuracy
  vllm/model_executor/layers/fused_moe/runner/moe_runner.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

add ernie
  tests/evals/gsm8k/configs/ERNIE-4.5-VL-28B-A3B-Thinking.yaml
  tests/evals/gsm8k/configs/models-nightly-small.txt
Due: none

remove mamba-backend arg from jamba
  tests/evals/gsm8k/configs/Jamba2-Mini.yaml
Due: none

bump up accuracy
  tests/evals/gsm8k/configs/GLM-4.7-Flash.yaml
Due: none

tweak
  tests/evals/gsm8k/configs/GPT-OSS-20B.yaml
  tests/evals/gsm8k/configs/OLMoE-1B-7B-0125-Instruct.yaml
  tests/evals/gsm8k/configs/Phi-Tiny-MoE-Instruct.yaml
Due: none

tweaks
  tests/evals/gsm8k/configs/GPT-OSS-20B.yaml
  tests/evals/gsm8k/configs/Gemma-4-26B-A4B-it.yaml
  tests/evals/gsm8k/configs/LFM2.5-350M.yaml
  tests/evals/gsm8k/configs/MiniMax-M2.7.yaml
  tests/evals/gsm8k/configs/Sarvam-30B.yaml
  tests/evals/gsm8k/configs/Step-3.5-Flash.yaml
  tests/evals/gsm8k/configs/models-nightly-large.txt
  tests/evals/gsm8k/configs/models-nightly-small.txt
Due: none

add lm_eval.yaml tests
  .buildkite/test_areas/lm_eval.yaml
  tests/evals/gsm8k/configs/models-nightly-small.txt
Due: none

add nightly eval tests for important models
  tests/evals/gsm8k/configs/GLM-4.7-Flash.yaml
  tests/evals/gsm8k/configs/GPT-OSS-20B.yaml
  tests/evals/gsm8k/configs/Gemma-4-26B-A4B-it.yaml
  tests/evals/gsm8k/configs/Granite-4.0-H-Small.yaml
  tests/evals/gsm8k/configs/Jamba2-Mini.yaml
  tests/evals/gsm8k/configs/LFM2.5-350M.yaml
  tests/evals/gsm8k/configs/MiniMax-M2.7.yaml
  tests/evals/gsm8k/configs/OLMoE-1B-7B-0125-Instruct.yaml
  tests/evals/gsm8k/configs/Phi-Tiny-MoE-Instruct.yaml
  tests/evals/gsm8k/configs/Sarvam-30B.yaml
  tests/evals/gsm8k/configs/Step-3.5-Flash.yaml
  tests/evals/gsm8k/configs/Trinity-Mini.yaml
  tests/evals/gsm8k/configs/models-nightly-large.txt
  tests/evals/gsm8k/configs/models-nightly-small.txt
Due: none

comment
  tests/evals/gsm8k/configs/models-nightly-small.txt
Due: none

[ROCm][CI] Pruning to 8 proposed test groups
  .buildkite/test_areas/entrypoints.yaml
  .buildkite/test_areas/models_language.yaml
Due: none

[kv_offload+HMA][10/N]: Support load with multiple KV groups (#39402)
  vllm/distributed/kv_transfer/kv_connector/v1/offloading/scheduler.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Offloading] Tie transfer_jobs lifetime to worker acks, not per-job completion
  vllm/distributed/kv_transfer/kv_connector/v1/offloading/scheduler.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

mla_attention
  vllm/model_executor/layers/attention/mla_attention.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

reduce comments
  vllm/model_executor/layers/attention/cross_attention.py
  vllm/model_executor/layers/attention/mla_attention.py
  vllm/v1/attention/backend.py
  vllm/v1/attention/backends/flex_attention.py
  vllm/v1/attention/backends/mla/flashmla_sparse.py
  vllm/v1/attention/backends/mla/indexer.py
  vllm/v1/attention/backends/utils.py
  vllm/v1/spec_decode/dflash.py
  vllm/v1/spec_decode/eagle.py
  vllm/v1/worker/gpu/input_batch.py
  vllm/v1/worker/gpu/model_runner.py
  vllm/v1/worker/gpu/model_states/default.py
  vllm/v1/worker/gpu/states.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/ubatch_utils.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[DP][Ray] Pin DP control bundle to same node as first GPU bundle (#39167)
  vllm/v1/engine/utils.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Fix
  tests/kernels/attention/test_attention_selector.py
  vllm/model_executor/layers/attention/attention.py
  vllm/model_executor/models/qwen3_dflash.py
  vllm/v1/attention/selector.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Fix
  tests/kernels/attention/test_attention_selector.py
  vllm/config/attention.py
  vllm/model_executor/layers/attention/attention.py
  vllm/model_executor/models/qwen3_dflash.py
  vllm/v1/attention/selector.py
  vllm/v1/spec_decode/dflash.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Fix
  vllm/v1/spec_decode/dflash.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Path conditions:
  format-torch-nightly-test: any of: ^requirements/test\.(in|txt)$, but not: vllm/third_party/.*
  check-spdx-header: any of: \.py$, but not: vllm/third_party/.*
  check-root-lazy-imports: any of: \.py$, but not: vllm/third_party/.*
  enforce-import-regex-instead-of-re: any of: \.py$, but not: vllm/third_party/.*
  forbid-direct-triton-import: any of: \.py$, but not: vllm/third_party/.*
  check-pickle-imports: any of: \.py$, but not: vllm/third_party/.*
  validate-docker-versions: any of: ^docker/(Dockerfile|versions\.json)$, but not: vllm/third_party/.*
  check-boolean-context-manager: any of: \.py$, but not: vllm/third_party/.*
