Repository vllm-project/vllm: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-torch-nightly-test, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, validate-docker-versions, check-boolean-context-manager

format-torch-nightly-test:
  name: reformat nightly_torch_test.txt to be in sync with test.in
  language: python
  entry: python tools/pre_commit/generate_nightly_torch_test.py

check-spdx-header:
  name: Check SPDX headers
  entry: python tools/pre_commit/check_spdx_header.py
  language: python

check-root-lazy-imports:
  name: Check root lazy imports
  entry: python tools/pre_commit/check_init_lazy_imports.py
  language: python

enforce-import-regex-instead-of-re:
  name: Enforce import regex as re
  entry: python tools/pre_commit/enforce_regex_import.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - regex

forbid-direct-triton-import:
  name: Forbid direct 'import triton'
  entry: python tools/pre_commit/check_triton_import.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - regex

check-pickle-imports:
  name: Prevent new pickle/cloudpickle imports
  entry: python tools/pre_commit/check_pickle_imports.py
  language: python
  additional_dependencies:
  - regex

validate-docker-versions:
  name: Validate docker/versions.json matches Dockerfile
  entry: python tools/generate_versions_json.py --check
  language: python
  pass_filenames: false
  additional_dependencies:
  - dockerfile-parse

check-boolean-context-manager:
  name: Check for boolean ops in with-statements
  entry: python tools/pre_commit/check_boolean_context_manager.py
  language: python

[ci] Revert model executor test back to L4 (#43188)
  .buildkite/test_areas/model_executor.yaml
Due: none

[Feature] Support manually enabling the cumem allocator (#33648)
  docs/features/nixl_connector_usage.md
  tests/v1/kv_connector/unit/test_config.py
  vllm/config/model.py
  vllm/config/vllm.py
  vllm/engine/arg_utils.py
  vllm/v1/worker/gpu_worker.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Bugfix][CI] Add missing import of pad_nvfp4_activation_for_cutlass in flashinfer (#43237)
  vllm/model_executor/kernels/linear/nvfp4/flashinfer.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[CI] Lower granite-4.0-h-tiny gsm8k threshold for Hybrid SSM NixlConnector PD accuracy tests (4 GPUs) (#43186)
  tests/v1/kv_connector/nixl_integration/test_accuracy.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Minor] Bigger overlap for FI AR (#43103)
  vllm/compilation/passes/fusion/allreduce_rms_fusion.py
  vllm/distributed/device_communicators/flashinfer_all_reduce.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Bugfix] Use shared coerce_to_schema_type in DeepSeekV32 tool parser (#43019)
  tests/tool_parsers/test_deepseekv32_tool_parser.py
  vllm/tool_parsers/deepseekv32_tool_parser.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[CI] Fix dockerfile dependency graph failure for pre-commit (#43378)
  docs/assets/contributing/dockerfile-stages-dependency.png
Due: none

[Perf] Optimize `CutlassFP8ScaledMMLinearKernel` when padding needed by pre-weight processing, 13.5% TTFT improvement (#42651)
  vllm/model_executor/kernels/linear/scaled_mm/cutlass.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Frontend] Normalize reasoning_content to reasoning for client compatibility (#42664)
  tests/tool_use/test_chat_completion_request_validations.py
  vllm/entrypoints/openai/chat_completion/protocol.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Benchmark] Add num-warmup to vllm bench throughput (#43245)
  vllm/benchmarks/throughput.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Test] Replace zephyr-7b-beta (7B) with SmolLM2-135M in tokenization test (#43085)
  tests/entrypoints/serve/tokenize/test_tokenization.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Add dllehr-amd to CODEOWNERS and committers list (#42772)
  .github/CODEOWNERS
  docs/governance/committers.md
Due: none

[Deprecation] Mark env vars covered by --moe-backend / --linear-backend (#43148)
  vllm/envs.py
  vllm/model_executor/kernels/linear/__init__.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[CI] Pin protoc binary in rust-build stages (#43292)
  docker/Dockerfile
  docker/Dockerfile.cpu
  docker/Dockerfile.nightly_torch
  docker/Dockerfile.rocm
  docker/Dockerfile.xpu
  tools/install_protoc.sh
Due: validate-docker-versions

Fix FlashInfer TRTLLM NvFP4 monolithic MoE routing (#43223)
  vllm/model_executor/layers/fused_moe/config.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[BugFix] Use correct logprobs for `logprob_token_ids` (#43125)
  vllm/v1/sample/sampler.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Perf] [Hybrid] Fused Triton kernel for GPU-side Mamba state postprocessing (#40172)
  tests/v1/e2e/general/test_mamba_prefix_cache.py
  tests/v1/worker/test_mamba_utils.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/mamba_utils.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[MISC] Fix symm_mem cap-equal gate; log AR backend selection (#42993)
  vllm/distributed/device_communicators/cuda_communicator.py
  vllm/distributed/device_communicators/symm_mem.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Disable build isolation to bypass CUDA related deps for vllm-tpu (#43038)
  requirements/build/tpu.txt
  tools/vllm-tpu/build.sh
Due: none

[ToolParser][Bugfix] Re-land: Fix anyOf/oneOf/$ref type resolution in Qwen3CoderToolParser (#37831) (#38973)
  tests/tool_parsers/test_qwen3coder_tool_parser.py
  vllm/tool_parsers/qwen3coder_tool_parser.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Enable mermaid diagrams in the docs (#43192)
  mkdocs.yaml
Due: none

[ROCm][CI] add warmup to mem_util test before measurement (#43236)
  tests/utils_/test_mem_utils.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Integrate flashinfer b12x MoE and FP4 GEMM kernels for SM120/121 (#40082)
  tests/kernels/moe/test_flashinfer_b12x_moe.py
  tests/kernels/quantization/test_flashinfer_nvfp4_scaled_mm.py
  vllm/config/kernel.py
  vllm/envs.py
  vllm/model_executor/kernels/linear/__init__.py
  vllm/model_executor/kernels/linear/nvfp4/flashinfer.py
  vllm/model_executor/layers/fused_moe/experts/flashinfer_b12x_moe.py
  vllm/model_executor/layers/fused_moe/oracle/nvfp4.py
  vllm/model_executor/layers/quantization/utils/flashinfer_fp4_moe.py
  vllm/utils/flashinfer.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Spec Decode] Support non-MTP speculation for NemotronH (#43130)
  vllm/model_executor/models/nemotron_h.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Perf][gpt-oss] Downgrade triton_kernels to v3.5.1 (#43135)
  cmake/external_projects/triton_kernels.cmake
  tests/kernels/quantization/test_mxfp4_triton_ep.py
  vllm/model_executor/layers/fused_moe/experts/gpt_oss_triton_kernels_moe.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Perf] `zeros` -> `empty` to remove additional fill (#42988)
  vllm/_custom_ops.py
  vllm/model_executor/layers/mamba/gdn_linear_attn.py
  vllm/model_executor/layers/quantization/utils/fp8_utils.py
  vllm/v1/attention/backends/turboquant_attn.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Bug][Structured Outputs] Fix bug that leads to unconstrained generations with structural tags (#42452)
  tests/v1/structured_output/test_reasoning_structured_output.py
  vllm/v1/structured_output/__init__.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[6/n] Migrate activation kernels, gptq, gguf, non cutlass w8a8 to libtorch stable ABI (continued) (#42663)
  CMakeLists.txt
  csrc/attention/dtype_fp8.cuh
  csrc/cuda_vec_utils.cuh
  csrc/cutlass_extensions/torch_utils.hpp
  csrc/libtorch_stable/activation_kernels.cu
  csrc/libtorch_stable/ops.h
  csrc/libtorch_stable/quantization/gguf/gguf_kernel.cu
  csrc/libtorch_stable/quantization/gguf/moe.cuh
  csrc/libtorch_stable/quantization/gguf/moe_vec.cuh
  csrc/libtorch_stable/quantization/gptq/compat.cuh
  csrc/libtorch_stable/quantization/gptq/matrix_view.cuh
  csrc/libtorch_stable/quantization/gptq/q_gemm.cu
  csrc/libtorch_stable/quantization/gptq/qdq_2.cuh
  csrc/libtorch_stable/quantization/gptq/qdq_3.cuh
  csrc/libtorch_stable/quantization/gptq/qdq_4.cuh
  csrc/libtorch_stable/quantization/gptq/qdq_8.cuh
  csrc/libtorch_stable/quantization/gptq/qdq_util.cuh
  csrc/libtorch_stable/quantization/w8a8/fp8/common.cu
  csrc/libtorch_stable/quantization/w8a8/int8/scaled_quant.cu
  csrc/libtorch_stable/torch_bindings.cpp
  csrc/libtorch_stable/torch_utils.h
  csrc/ops.h
  csrc/quantization/utils.cuh
  csrc/quantization/w8a8/fp8/common.cuh
  csrc/torch_bindings.cpp
  csrc/torch_utils.h
  setup.py
  vllm/platforms/rocm.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[XPU][CI]Fix Docker image pull-to-run race in Intel GPU CI (#43266)
  .buildkite/scripts/hardware_ci/run-intel-test.sh
Due: none

[CI] Fix CPU tests failing on `tl.exp2` import (#43311)
  vllm/triton_utils/importing.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Update KDA chunk prefill decay to use exp2 semantics (#43195)
  vllm/model_executor/layers/fla/ops/chunk_delta_h.py
  vllm/model_executor/layers/fla/ops/kda.py
  vllm/model_executor/layers/fla/ops/op.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[XPU] add setuptools-rust for xpu dependency (#43287)
  requirements/xpu.txt
Due: none

[Frontend] Forward X-data-parallel-rank header on /inference/v1/generate (#42330)
  vllm/entrypoints/serve/disagg/serving.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Bugfix] Add early validation to reject incompatible runner types for embedding models (#43079)
  vllm/config/model.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[GDN] Enable FI Blackwell GDN prefill kernel (#40717)
  vllm/model_executor/layers/mamba/gdn_linear_attn.py
  vllm/platforms/cuda.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[ROCm] Add XGMI backend for MoRI Connector (#41753)
  vllm/distributed/kv_transfer/kv_connector/v1/moriio/moriio_common.py
  vllm/distributed/kv_transfer/kv_connector/v1/moriio/moriio_connector.py
  vllm/distributed/kv_transfer/kv_connector/v1/moriio/moriio_engine.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Misc] downgrade nvidia-cutlass-dsl to 4.5.0 (#43230)
  requirements/cuda.txt
Due: none

[CI] Add composed-schema regression tests for DeepSeek V3.2/V4 parsers (#43255)
  tests/tool_parsers/test_deepseekv32_tool_parser.py
  tests/tool_parsers/test_deepseekv4_tool_parser.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Feature] Add `--cpu-distributed-timeout-seconds` CLI Option for CPU Process Group Timeout (#42968)
  vllm/config/parallel.py
  vllm/distributed/parallel_state.py
  vllm/distributed/utils.py
  vllm/engine/arg_utils.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Path conditions:
  format-torch-nightly-test: any of: ^requirements/test\.(in|txt)$, but not: vllm/third_party/.*
  check-spdx-header: any of: \.py$, but not: vllm/third_party/.*
  check-root-lazy-imports: any of: \.py$, but not: vllm/third_party/.*
  enforce-import-regex-instead-of-re: any of: \.py$, but not: vllm/third_party/.*
  forbid-direct-triton-import: any of: \.py$, but not: vllm/third_party/.*
  check-pickle-imports: any of: \.py$, but not: vllm/third_party/.*
  validate-docker-versions: any of: ^docker/(Dockerfile|versions\.json)$, but not: vllm/third_party/.*
  check-boolean-context-manager: any of: \.py$, but not: vllm/third_party/.*
