Repository vllm-project/vllm: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-torch-nightly-test, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, validate-docker-versions, check-boolean-context-manager

Path conditions:
  format-torch-nightly-test: any of: ^requirements/test\.(in|txt)$, but not: vllm/third_party/.*
  check-spdx-header: any of: \.py$, but not: vllm/third_party/.*
  check-root-lazy-imports: any of: \.py$, but not: vllm/third_party/.*
  enforce-import-regex-instead-of-re: any of: \.py$, but not: vllm/third_party/.*
  forbid-direct-triton-import: any of: \.py$, but not: vllm/third_party/.*
  check-pickle-imports: any of: \.py$, but not: vllm/third_party/.*
  validate-docker-versions: any of: ^docker/(Dockerfile|versions\.json)$, but not: vllm/third_party/.*
  check-boolean-context-manager: any of: \.py$, but not: vllm/third_party/.*

[RFC] Improve environment variable declaration and handling (#31249)
  tests/test_new_envs.py
  vllm/envs/__init__.py
  vllm/envs/_variables.py
  vllm/envs/utils.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fix ruff check failure
  vllm/envs/_variables.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[RFC] Improve environment variable declaration and handling (#31249)
  scripts/validate_env_variables.py
  test_new_envs.py
  vllm/envs/__init__.py
  vllm/envs/_variables.py
  vllm/envs/utils.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

refactor: revert decorate_logs signature, use conditional calls at callsites
  tests/utils_/test_system_utils.py
  vllm/entrypoints/cli/serve.py
  vllm/entrypoints/openai/api_server.py
  vllm/utils/system_utils.py
  vllm/v1/engine/core.py
  vllm/v1/executor/multiproc_executor.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fix: compute chunk start times from actual audio lengths
  vllm/entrypoints/openai/speech_to_text/speech_to_text.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Add deprecation warning for max_audio_clip_s=None usage
  vllm/entrypoints/openai/speech_to_text/speech_to_text.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

account for window across blocks
  vllm/distributed/kv_transfer/kv_connector/v1/nixl_connector.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Improve logging
  vllm/v1/core/encoder_cache_manager.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Kernel] Optimize grouped topk kernel (#34206)
  csrc/moe/grouped_topk_kernels.cu
  csrc/moe/moeTopKFuncs.cuh
  tests/kernels/moe/test_grouped_topk.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

set is_available_online to False temporarily
  tests/models/registry.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Bugfix] Fix tool_calls Iterable consumed when debug logging is enabled
  tests/entrypoints/openai/test_tool_calls_serialization.py
  vllm/entrypoints/chat_utils.py
  vllm/entrypoints/openai/chat_completion/protocol.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

merge commit 1
  .buildkite/release-pipeline.yaml
  cmake/external_projects/flashmla.cmake
  setup.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

remove wheel build dependency on extensions
  docker/Dockerfile
  docs/assets/contributing/dockerfile-stages-dependency.png
Due: validate-docker-versions

merge commit 3
  csrc/activation_kernels.cu
Due: none

[Bugfix] Fix field_validator mode: use 'before' instead of 'after'
  vllm/entrypoints/openai/chat_completion/protocol.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Bugfix] Fix GDN attention crash with mixed decode/spec-decode batches
  vllm/v1/attention/backends/gdn_attn.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Revert "[Bugfix][ROCm][GPT-OSS] Use old triton_kernels implementation on ROCm if the new API is not available (#34153)"
  vllm/model_executor/layers/fused_moe/gpt_oss_triton_kernels_moe.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Revert "[Release 2.10] Update to Torch 2.10 - final release (#30525)"
  .buildkite/image_build/image_build.yaml
  CMakeLists.txt
  cmake/external_projects/triton_kernels.cmake
  pyproject.toml
  requirements/build.txt
  requirements/cuda.txt
  requirements/rocm-build.txt
  requirements/test.in
  requirements/test.txt
  tests/compile/test_aot_compile.py
  tests/compile/test_dynamic_shapes_compilation.py
  tests/kernels/moe/test_shared_fused_moe_routed_transform.py
  vllm/compilation/compiler_interface.py
  vllm/compilation/decorators.py
  vllm/envs.py
  vllm/model_executor/layers/batch_invariant.py
  vllm/model_executor/layers/fused_moe/gpt_oss_triton_kernels_moe.py
Due: format-torch-nightly-test, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

img build
  .buildkite/image_build/image_build.sh
Due: none

Revert "img build"
  .buildkite/image_build/image_build.sh
Due: none

[OpenAI] Merge system/developer instructions into the tool block for Harmony
  vllm/entrypoints/openai/chat_completion/serving.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[CI] Bump `mypy` version
  .pre-commit-config.yaml
  tests/kernels/core/test_pos_encoding.py
  tests/kernels/core/test_rotary_embedding.py
  tests/kernels/mamba/test_mamba_ssm.py
  tests/kernels/quantization/test_fp8_quant.py
  vllm/distributed/kv_transfer/kv_connector/utils.py
  vllm/v1/attention/backends/flashinfer.py
  vllm/v1/attention/backends/gdn_attn.py
  vllm/v1/sample/logits_processor/__init__.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Feature] Auto-detect cross-layer KV cache layout from backend stride order
  tests/v1/kv_connector/unit/test_uniform_kv_cache.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/kv_connector_model_runner_mixin.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Build] Fix DSV3_FUSED_A_GEMM_ARCHS to include SM120 on CUDA 13.0
  CMakeLists.txt
Due: none

Gemini comment
  vllm/v1/sample/logits_processor/__init__.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Frontend] Merge system/developer instructions into the tool block for Harmony
  vllm/entrypoints/openai/chat_completion/serving.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

move test to correct file
  tests/entrypoints/openai/test_transcription_validation.py
  tests/entrypoints/openai/test_transcription_validation_whisper.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fix spacing
  tests/entrypoints/openai/test_transcription_validation.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Test] Add unit tests for GDN attention mixed decode/spec-decode fix
  tests/v1/attention/test_gdn_metadata_builder.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Build] Add SM120 (12.0a;12.1a) support for CUDA < 13.0
  CMakeLists.txt
Due: none

Fix kv_cache_dtype 'auto' resolution with checkpoint quantization
  test_kv_cache_dtype_fix.py
  tests/utils/test_kv_cache_dtype_resolution.py
  vllm/utils/torch_utils.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Bump version a little more
  .pre-commit-config.yaml
Due: none

Fix python 3.13
  vllm/v1/attention/backends/gdn_attn.py
  vllm/v1/attention/backends/mamba_attn.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[BUGFIX] Fix `_dummy_run` missing `prepare_inputs_event` synchronization (#34866)
  vllm/v1/worker/gpu_model_runner.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[CPU][Feat] Enable KleidiAI INT8_W4A8 for all act dtypes
  vllm/model_executor/layers/quantization/kernels/mixed_precision/dynamic_4bit.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Add Kuberenetes DRA examples
  docs/deployment/k8s.md
  examples/online_serving/chart-helm/templates/_helpers.tpl
  examples/online_serving/chart-helm/templates/deployment.yaml
  examples/online_serving/chart-helm/values.yaml
Due: none

Update docs/deployment/k8s.md
  docs/deployment/k8s.md
Due: none
