Repository vllm-project/vllm: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-torch-nightly-test, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, validate-docker-versions, check-boolean-context-manager

Path conditions:
  format-torch-nightly-test: any of: ^requirements/test\.(in|txt)$, but not: vllm/third_party/.*
  check-spdx-header: any of: \.py$, but not: vllm/third_party/.*
  check-root-lazy-imports: any of: \.py$, but not: vllm/third_party/.*
  enforce-import-regex-instead-of-re: any of: \.py$, but not: vllm/third_party/.*
  forbid-direct-triton-import: any of: \.py$, but not: vllm/third_party/.*
  check-pickle-imports: any of: \.py$, but not: vllm/third_party/.*
  validate-docker-versions: any of: ^docker/(Dockerfile|versions\.json)$, but not: vllm/third_party/.*
  check-boolean-context-manager: any of: \.py$, but not: vllm/third_party/.*

Add KV offload tests for file mapper and FS tier.
  CLAUDE.md
  tests/v1/kv_connector/unit/test_offloading_connector.py
  tests/v1/kv_offload/test_file_mapper.py
  tests/v1/kv_offload/test_fs_tier.py
  vllm/v1/kv_offload/file_mapper.py
  vllm/v1/kv_offload/tiering/factory.py
  vllm/v1/kv_offload/tiering/fs/manager.py
  vllm/v1/kv_offload/tiering/fs/thread_pool.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

update constructor to use OffloadingSpecs
  tests/v1/kv_connector/unit/test_offloading_connector.py
  tests/v1/kv_offload/test_fs_tier.py
  vllm/v1/kv_offload/tiering/fs/manager.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Fix O_DIRECT platform compatibility for macOS
  vllm/v1/kv_offload/tiering/fs/io.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Fix file mapper creation, formatting issues, e2e test.
  tests/v1/kv_connector/unit/test_offloading_connector.py
  tests/v1/kv_offload/test_file_mapper.py
  tests/v1/kv_offload/test_fs_tier.py
  vllm/v1/kv_offload/file_mapper.py
  vllm/v1/kv_offload/tiering/fs/__init__.py
  vllm/v1/kv_offload/tiering/fs/io.py
  vllm/v1/kv_offload/tiering/fs/manager.py
  vllm/v1/kv_offload/tiering/fs/thread_pool.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[CI] De-flake test_models for bigscience/bloom-560m (#43197)
  vllm/transformers_utils/config.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

take gemini s advice
  csrc/moe/fp32_router_gemm_entry.cu
  csrc/moe/topk_softmax_kernels.cu
Due: none

Restore CLAUDE.md to match main branch
  CLAUDE.md
Due: none

[Kernel][Test] Fix missed .cuda() in test_causal_conv1d_varlen for XPU
  tests/kernels/mamba/test_causal_conv1d.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Bugfix][DSV4] Default scale_fmt to ue8m0 instead of hard-subscript
  vllm/models/deepseek_v4/nvidia/model.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Enable grouped_topk kernel registration. Hook up the existing grouped_topk kernel to the kernel registry.
  vllm/_xpu_ops.py
  vllm/model_executor/layers/fused_moe/router/grouped_topk_router.py
  vllm/model_executor/layers/fused_moe/xpu_fused_moe.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Bugfix] Fix CUTLASS FP8 weight reload + online-quant kernel hook
  vllm/model_executor/kernels/linear/scaled_mm/cutlass.py
  vllm/model_executor/layers/quantization/fp8.py
  vllm/model_executor/layers/quantization/online/fp8.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

try to fix remained tests
  tests/kernels/quantization/test_cutlass_scaled_mm.py
  tests/quantization/test_fp8.py
  vllm/model_executor/kernels/linear/scaled_mm/cutlass.py
  vllm/model_executor/layers/quantization/online/fp8.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fix: ruff format & markdown lint (Inferact/vllm-frontend-rs#198)
  rust/AGENTS.md
  rust/src/engine-core-client/src/tests/python_compat.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

feat: add "mm-m2" model-ID pattern for MiniMax M2 tool parser (Inferact/vllm-frontend-rs#197)
  rust/src/chat/src/parser/tool/mod.rs
  rust/src/chat/src/parser/tool/tests.rs
Due: none

+ PoolingServingObservabilityMixin
  vllm/entrypoints/pooling/base/observability.py
  vllm/entrypoints/pooling/base/serving.py
  vllm/entrypoints/pooling/embed/serving.py
  vllm/tracing/otel.py
  vllm/tracing/utils.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[XPU] add setuptools-rust for xpu dependency (#43287)
  requirements/xpu.txt
Due: none

ooops code format
  tests/kernels/quantization/test_cutlass_scaled_mm.py
  vllm/model_executor/kernels/linear/scaled_mm/cutlass.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Bugfix][DSV4] attention.py: fall back to weight_scale when weight_scale_inv absent
  vllm/models/deepseek_v4/attention.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

FIX
  vllm/lora/model_manager.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fix FileMapper test file
  tests/v1/kv_connector/unit/test_offloading_connector.py
  tests/v1/kv_offload/test_file_mapper.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fix: restore Kimi-K2.5 MXFP4 native MoE path on ROCm
  vllm/model_executor/layers/quantization/quark/quark_moe.py
  vllm/model_executor/models/deepseek_v2.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

revert encoder forward to avoid conflicts
  tests/v1/cudagraph/test_encoder_cudagraph.py
  vllm/model_executor/models/interfaces.py
  vllm/model_executor/models/qwen2_5_vl.py
  vllm/model_executor/models/qwen3_vl.py
  vllm/v1/worker/encoder_cudagraph.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

update
  tests/kernels/moe/test_cpu_quant_fused_moe.py
  vllm/model_executor/layers/fused_moe/experts/cpu_moe.py
  vllm/model_executor/layers/fused_moe/oracle/int8.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors_moe/compressed_tensors_moe_w8a8_int8.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

avoid redundant doc-string changes
  vllm/model_executor/models/interfaces.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

clean
  vllm/model_executor/models/qwen2_5_vl.py
  vllm/model_executor/models/qwen3_vl.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

migrate rust pre-commit hooks
  .pre-commit-config.yaml
  rust/.pre-commit-config.yaml
Due: none

Remove rust submodule build setup
  .buildkite/image_build/image_build.sh
  .buildkite/image_build/image_build_cpu.sh
  .buildkite/image_build/image_build_cpu_arm64.sh
  .gitmodules
  build_rust.sh
  docker/Dockerfile
  docker/Dockerfile.cpu
  docker/Dockerfile.nightly_torch
  docker/Dockerfile.rocm
  docker/Dockerfile.xpu
Due: validate-docker-versions

clean vendored rust repo metadata
  rust/.git-blame-ignore-revs
  rust/.gitattributes
  rust/DCO
  rust/LICENSE
  rust/rust-toolchain.toml
Due: none

update qwen2-vl
  vllm/model_executor/models/qwen2_vl.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

v1/engine: emit sub-block KV-events at hash_block_size granularity for hybrid models
  vllm/platforms/interface.py
  vllm/v1/core/single_type_kv_cache_manager.py
  vllm/v1/engine/core.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

v1/engine: surface hash_block_size in get_kv_cache_group_metadata
  vllm/v1/engine/core.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

update step3-vl
  vllm/model_executor/models/step3_vl.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

init
  vllm/utils/platform_utils.py
  vllm/v1/worker/cpu/__init__.py
  vllm/v1/worker/cpu/buffer_utils.py
  vllm/v1/worker/cpu/model_runner.py
  vllm/v1/worker/cpu/shm.py
  vllm/v1/worker/cpu_worker.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

check cpu triton
  vllm/platforms/cpu.py
  vllm/triton_utils/importing.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

add test
  .buildkite/hardware_tests/cpu.yaml
  docker/Dockerfile.cpu
  setup.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

add test
  docker/Dockerfile.cpu
Due: none

add hardcode 504 instruct back for step3-vl
  vllm/model_executor/models/step3_vl.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager
