Repository vllm-project/vllm: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-torch-nightly-test, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, validate-docker-versions, check-boolean-context-manager

Path conditions:
  format-torch-nightly-test: any of: ^requirements/test\.(in|txt)$, but not: vllm/third_party/.*
  check-spdx-header: any of: \.py$, but not: vllm/third_party/.*
  check-root-lazy-imports: any of: \.py$, but not: vllm/third_party/.*
  enforce-import-regex-instead-of-re: any of: \.py$, but not: vllm/third_party/.*
  forbid-direct-triton-import: any of: \.py$, but not: vllm/third_party/.*
  check-pickle-imports: any of: \.py$, but not: vllm/third_party/.*
  validate-docker-versions: any of: ^docker/(Dockerfile|versions\.json)$, but not: vllm/third_party/.*
  check-boolean-context-manager: any of: \.py$, but not: vllm/third_party/.*

perf: Optimize sliding window cache hit search time complexity to O(N/K)
  vllm/v1/core/single_type_kv_cache_manager.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

refactor and add better smoke tests
  tests/kernels/core/test_rocm_misc_ops.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Kernel] Support head_dim=512 in fused QK-norm+RoPE (enables Gemma4)
  csrc/libtorch_stable/fused_qknorm_rope_kernel.cu
  vllm/compilation/passes/fusion/qk_norm_rope_fusion.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[KV Connector] Preserve MultiConnector default completion count
  vllm/distributed/kv_transfer/kv_connector/v1/multi_connector.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

check on scale dtype in fp8 oracle
  docs/assets/contributing/dockerfile-stages-dependency.png
  vllm/model_executor/kernels/linear/scaled_mm/cutlass.py
  vllm/model_executor/kernels/linear/scaled_mm/marlin.py
  vllm/model_executor/kernels/linear/scaled_mm/pytorch.py
  vllm/model_executor/kernels/linear/scaled_mm/triton.py
  vllm/model_executor/layers/quantization/fp8.py
  vllm/model_executor/layers/quantization/quark/schemes/quark_w8a8_fp8.py
  vllm/model_executor/layers/quantization/utils/quant_utils.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Rename host read stager for destination semantics
  tests/v1/kv_connector/unit/test_nixl_connector.py
  vllm/distributed/kv_transfer/kv_connector/v1/nixl/base_worker.py
  vllm/distributed/kv_transfer/kv_connector/v1/nixl/host_staging.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

simplify
  vllm/model_executor/kernels/linear/scaled_mm/cutlass.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[CI] Resolve CPU wheels from the torch test index instead of --torch-backend
  docker/Dockerfile.cpu
Due: none

[CI] RELEASE-ONLY: raise CPU Multi-Modal timeout to 120m
  .buildkite/hardware_tests/cpu.yaml
Due: none

Align nvidia-cudnn-cu13 / nvidia-nccl-cu13 with torch 2.14.0
  requirements/test/cuda.txt
Due: none

[CI] Bump torchao to 0.18.0 for torch 2.14
  .buildkite/test-amd.yaml
  .buildkite/test_areas/quantization.yaml
Due: none

[CI] RELEASE-ONLY: raise CPU model-test timeouts to measure the 2.14 slowdown
  .buildkite/hardware_tests/cpu.yaml
Due: none

[Core] Update PyTorch to 2.14.0, torchvision to 0.29.0, triton to 3.8.0 (test channel)
  .buildkite/scripts/check-ray-compatibility.sh
  .buildkite/test_areas/quantization.yaml
  CMakeLists.txt
  docker/Dockerfile
  docker/Dockerfile.s390x
  docker/versions.json
  pyproject.toml
  requirements/build/cpu.txt
  requirements/build/cuda.txt
  requirements/build/rocm.txt
  requirements/cpu.txt
  requirements/cuda.txt
  requirements/test/cpu.txt
  requirements/test/cuda.in
  requirements/test/cuda.txt
  tests/standalone_tests/python_only_compile.sh
Due: validate-docker-versions

[CI] Force fresh torch in CPU test shards for 2.14.0 RC
  .buildkite/scripts/hardware_ci/run-cpu-test.sh
  docker/Dockerfile.cpu
Due: none

[CI] Force fresh torch install in CPU image build for 2.14.0 RC
  .buildkite/image_build/image_build_cpu.sh
Due: none

[Core] Refactor sparse checkpoint patch copies
  vllm/model_executor/model_loader/checkpoint_weight_patch.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Core] Represent checkpoint weight patches as NamedTuple
  vllm/model_executor/model_loader/checkpoint_weight_patch.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Core] Support sparse checkpoint updates through native weight loaders
  tests/model_executor/model_loader/test_checkpoint_weight_patch.py
  vllm/model_executor/model_loader/checkpoint_weight_patch.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

rm trivial unrelated custom PA tests
  tests/kernels/core/test_rocm_misc_ops.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

feat: dequantize DFlash fused KV slices and guard draft architecture resolution
  tests/spec_decode/test_draft_quant_config.py
  vllm/model_executor/models/qwen3_dflash.py
  vllm/model_executor/models/utils.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

reset file
  docs/assets/contributing/dockerfile-stages-dependency.png
Due: none

improve docstring
  tests/kernels/core/test_rocm_misc_ops.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Bugfix][MLA] TritonMLA: derive decode expansion from the q row count
  tests/kernels/attention/test_triton_mla_causal_verify_flatten.py
  vllm/v1/attention/backends/mla/triton_mla.py
  vllm/v1/kv_cache_interface.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Kernel][MoE] Optimize batched alignment writes
  benchmarks/kernels/benchmark_moe_align_block_size.py
  csrc/libtorch_stable/moe/moe_align_sum_kernels.cu
  tests/kernels/moe/test_moe_align_block_size.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Fix adjacent DeepSeek V4 user content rendering
  rust/src/chat/src/renderer/deepseek_v4/encoding.rs
  rust/src/chat/src/renderer/deepseek_v4/tests.rs
Due: none

Address comments and clean
  vllm/model_executor/models/blip2.py
  vllm/model_executor/models/chameleon.py
  vllm/model_executor/models/deepseek_vl2.py
  vllm/model_executor/models/glmasr.py
  vllm/model_executor/models/h2ovl.py
  vllm/model_executor/models/nemotron_parse.py
  vllm/model_executor/models/paligemma.py
  vllm/model_executor/models/pixtral.py
  vllm/model_executor/models/unlimited_ocr.py
  vllm/model_executor/models/voxtral.py
  vllm/models/dots3_note/common/processor.py
  vllm/multimodal/processing/processor.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Let host stager own its shutdown lifecycle
  tests/v1/kv_connector/unit/test_nixl_connector.py
  vllm/distributed/kv_transfer/kv_connector/v1/nixl/base_worker.py
  vllm/distributed/kv_transfer/kv_connector/v1/nixl/host_staging.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Fix
  vllm/model_executor/models/nano_nemotron_vl.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Bugfix][ROCm] Pass AITER MoE the rank row count, not per-expert counts
  vllm/model_executor/layers/fused_moe/experts/rocm_aiter_moe.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Remove implementation-mirroring shutdown test
  tests/v1/kv_connector/unit/test_nixl_connector.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[ROCm] DeepEP: configurable dispatch timeouts, deferred legacy annotations
  vllm/distributed/device_communicators/all2all.py
  vllm/model_executor/layers/fused_moe/prepare_finalize/deepep_ht.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

perf(rocm): use wvSplitK for single-output GEMMs
  tests/model_executor/layers/test_rocm_unquantized_gemm.py
  vllm/model_executor/layers/utils.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Kernel] Add b12x FP4 MoE backend (#52018)
  .buildkite/test_areas/kernels.yaml
  docs/features/quantization/b12x.md
  setup.py
  tests/kernels/moe/test_b12x.py
  tests/kernels/quantization/nvfp4_utils.py
  tests/model_executor/test_b12x_warmup.py
  tests/quantization/test_auto_round.py
  vllm/config/kernel.py
  vllm/envs.py
  vllm/model_executor/layers/fused_moe/b12x.py
  vllm/model_executor/layers/fused_moe/config.py
  vllm/model_executor/layers/fused_moe/oracle/mxfp4.py
  vllm/model_executor/layers/fused_moe/oracle/nvfp4.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors_moe/compressed_tensors_moe_w4a4_mxfp4.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors_moe/compressed_tensors_moe_w4a4_nvfp4.py
  vllm/model_executor/layers/quantization/inc/schemes/inc_mxfp4_moe.py
  vllm/model_executor/layers/quantization/modelopt.py
  vllm/model_executor/layers/quantization/mxfp4.py
  vllm/model_executor/layers/quantization/online/mxfp4.py
  vllm/model_executor/layers/quantization/quark/quark_moe.py
  vllm/model_executor/layers/quantization/utils/b12x_moe.py
  vllm/model_executor/warmup/b12x_warmup.py
  vllm/utils/b12x.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

feat(chart-helm): configurable PVC access mode + storage class for multi-replica model cache
  examples/deployment/chart-helm/templates/pvc.yaml
  examples/deployment/chart-helm/values.yaml
Due: none

fix cutlass backend
  vllm/model_executor/kernels/linear/scaled_mm/cutlass.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Simplify MoNE support with generic expert substitution
  docs/design/expert_substitution.md
  pyproject.toml
  tests/kernels/moe/test_expert_replacement.py
  vllm/model_executor/layers/fused_moe/__init__.py
  vllm/model_executor/layers/fused_moe/config.py
  vllm/model_executor/layers/fused_moe/expert_replacement.py
  vllm/model_executor/layers/fused_moe/experts/triton_moe.py
  vllm/model_executor/layers/fused_moe/fused_moe.py
  vllm/model_executor/layers/fused_moe/fused_moe_method_base.py
  vllm/model_executor/layers/fused_moe/fused_moe_modular_method.py
  vllm/model_executor/layers/fused_moe/layer.py
  vllm/model_executor/layers/fused_moe/modular_kernel.py
  vllm/model_executor/layers/fused_moe/routed_experts.py
  vllm/model_executor/layers/fused_moe/runner/moe_runner.py
  vllm/model_executor/models/deepseek_v2.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

add test
  docs/assets/contributing/dockerfile-stages-dependency.png
  vllm/model_executor/kernels/linear/scaled_mm/cpu.py
  vllm/model_executor/kernels/linear/scaled_mm/xpu.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

add test
  tests/kernels/quantization/test_fp8_kernel_selection.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager
