Repository vllm-project/vllm: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-torch-nightly-test, mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

format-torch-nightly-test:
  name: reformat nightly_torch_test.txt to be in sync with test.in
  language: python
  entry: python tools/generate_nightly_torch_test.py

mypy-local:
  name: Run mypy for local Python installation
  entry: tools/mypy.sh 0 "local"
  language: python
  additional_dependencies:
  - mypy==1.11.1
  - types-cachetools
  - types-setuptools
  - types-PyYAML
  - types-requests
  - pydantic
  stages:
  - pre-commit

check-spdx-header:
  name: Check SPDX headers
  entry: python tools/check_spdx_header.py
  language: python

check-root-lazy-imports:
  name: Check root lazy imports
  entry: python tools/check_init_lazy_imports.py
  language: python

enforce-import-regex-instead-of-re:
  name: Enforce import regex as re
  entry: python tools/enforce_regex_import.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - regex

forbid-direct-triton-import:
  name: Forbid direct 'import triton'
  entry: python tools/check_triton_import.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - regex

check-pickle-imports:
  name: Prevent new pickle/cloudpickle imports
  entry: python tools/check_pickle_imports.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pathspec
  - regex

[Feature][Core] Support Fabric detection to adapt the MNNVL protocol for the GB series (#33540)
  csrc/cumem_allocator.cpp
Due: none

[Refactor] Move profiling methods to MM budget (#33559)
  vllm/lora/model_manager.py
  vllm/multimodal/budget.py
  vllm/multimodal/registry.py
  vllm/v1/core/encoder_cache_manager.py
  vllm/v1/core/sched/scheduler.py
  vllm/v1/engine/input_processor.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/utils.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[Bugfix] Enable Kimi k25 processor test (#33562)
  examples/offline_inference/vision_language.py
  tests/models/multimodal/processing/test_common.py
  vllm/model_executor/models/kimi_k25.py
  vllm/multimodal/parse.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

fix[ROCm]: Remove unconditional aiter import (#32902)
  vllm/_aiter_ops.py
  vllm/v1/attention/backends/rocm_aiter_fa.py
  vllm/v1/spec_decode/eagle.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[Model] Use explicit types in `get_generation_prompt` (#33551)
  vllm/entrypoints/openai/translations/speech_to_text.py
  vllm/model_executor/models/gemma3n_mm.py
  vllm/model_executor/models/glmasr.py
  vllm/model_executor/models/granite_speech.py
  vllm/model_executor/models/qwen3_asr.py
  vllm/model_executor/models/voxtral.py
  vllm/model_executor/models/voxtral_realtime.py
  vllm/model_executor/models/whisper.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[MoE] Enable Shared/Routed Overlap For Latent MoE (Nemotron-H) (#32790)
  tests/kernels/moe/test_shared_fused_moe_routed_transform.py
  vllm/model_executor/layers/fused_moe/layer.py
  vllm/model_executor/layers/fused_moe/shared_fused_moe.py
  vllm/model_executor/models/nemotron_h.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

move spec decode slow test to test_areas.yaml (#33365)
  .buildkite/test_areas/misc.yaml
  tests/v1/spec_decode/test_acceptance_length.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

Remove incorrect tokenizer info test (#33565)
  tests/entrypoints/openai/test_tokenization.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

Reduce the kernel overhead when num of active loras is smaller than max loras. Multiple cuda graphs are captured for each num of active-loras. (#32005)
  tests/lora/test_fused_moe_lora_kernel.py
  tests/lora/test_punica_ops.py
  tests/v1/cudagraph/test_cudagraph_dispatch.py
  vllm/config/lora.py
  vllm/engine/arg_utils.py
  vllm/forward_context.py
  vllm/lora/ops/triton_ops/fused_moe_lora_op.py
  vllm/lora/ops/triton_ops/lora_expand_op.py
  vllm/lora/ops/triton_ops/lora_kernel_metadata.py
  vllm/lora/ops/triton_ops/lora_shrink_op.py
  vllm/lora/punica_wrapper/punica_gpu.py
  vllm/lora/utils.py
  vllm/v1/cudagraph_dispatcher.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/lora_model_runner_mixin.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[Model] Use mm_position to compute mrope positions for GLM-4.xV (#33039)
  examples/offline_inference/vision_language_multi_image.py
  vllm/model_executor/models/glm4_1v.py
  vllm/model_executor/models/glm4v.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

Update huggingface-hub again (#33567)
  requirements/rocm-test.txt
  requirements/test.txt
Due: format-torch-nightly-test

[CI] Add DeepSeek V3.2 nightly eval (#33566)
  tests/evals/gsm8k/configs/DeepSeek-V3.2-DP.yaml
  tests/evals/gsm8k/configs/DeepSeek-V3.2-TP.yaml
  tests/evals/gsm8k/configs/models-h200.txt
Due: none

[Voxtral Realtime] Introduce global log mel max (#33574)
  tests/entrypoints/openai/test_realtime_validation.py
  tests/models/multimodal/generation/test_voxtral_realtime.py
  vllm/model_executor/models/voxtral.py
  vllm/transformers_utils/configs/mistral.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[UX] Format attention backend log line (#33570)
  vllm/platforms/cuda.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[BugFix] DPMetadata raises assert error for dense model (#32739)
  vllm/forward_context.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

fix memory for online fp8 quantization with streaming weight load (#31914)
  tests/quantization/test_fp8.py
  vllm/model_executor/layers/quantization/fp8.py
  vllm/model_executor/model_loader/base_loader.py
  vllm/model_executor/model_loader/dummy_loader.py
  vllm/model_executor/model_loader/weight_utils.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[CI/Build] add directions for CPU image upload to Docker Hub (#32032)
  .buildkite/scripts/annotate-release.sh
Due: none

fix cutlass_3x_gemm_fp8_blockwise on sm103a (#32224)
  csrc/cutlass_extensions/common.hpp
  csrc/quantization/w8a8/cutlass/c3x/scaled_mm.cuh
  csrc/quantization/w8a8/cutlass/c3x/scaled_mm_blockwise_sm100_fp8_dispatch.cuh
  csrc/quantization/w8a8/cutlass/c3x/scaled_mm_sm100_fp8_dispatch.cuh
  csrc/quantization/w8a8/cutlass/scaled_mm_c2x.cuh
  csrc/quantization/w8a8/cutlass/scaled_mm_c2x_sm89_fp8_dispatch.cuh
  csrc/quantization/w8a8/cutlass/scaled_mm_c2x_sm89_int8_dispatch.cuh
Due: none

[Bugfix] Interleaved thinking keeps compatibility with reasoning_content (#33635)
  vllm/entrypoints/chat_utils.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[Bugfix] Fix mm budget setting for Qwen Omni models (#33634)
  vllm/multimodal/budget.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

Fix quantized Falcon-H1 model loading issues (#32728)
  vllm/model_executor/models/falcon_h1.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[CI/Build] Remove hardcoded America/Los_Angeles timezone from Dockerfiles (#33553)
  docker/Dockerfile
  docker/Dockerfile.nightly_torch
Due: none

[Frontend] Add sampling parameters to Responses API (#32609)
  tests/entrypoints/openai/responses/test_sampling_params.py
  tests/entrypoints/openai/responses/test_simple.py
  vllm/entrypoints/openai/responses/protocol.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[torch.compile] Don't do the fast moe cold start optimization if there is speculative decoding (#33624)
  vllm/config/compilation.py
  vllm/forward_context.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[Feature][CPU Backend]: Optimize ARM vectorization backend (#30329)
  csrc/cpu/cpu_attn_impl.hpp
  csrc/cpu/cpu_types_arm.hpp
  csrc/cpu/dnnl_kernels.cpp
  csrc/cpu/mla_decode.cpp
  csrc/cpu/utils.hpp
Due: none

[XPU][1/N] Deprecate ipex and switch to vllm-xpu-kernels for xpu platform (#33379)
  .buildkite/scripts/hardware_ci/run-xpu-test.sh
  docker/Dockerfile.xpu
  requirements/xpu.txt
  vllm/_ipex_ops.py
  vllm/config/model.py
  vllm/model_executor/layers/activation.py
  vllm/model_executor/layers/layernorm.py
  vllm/model_executor/layers/linear.py
  vllm/model_executor/layers/quantization/__init__.py
  vllm/model_executor/layers/quantization/fp8.py
  vllm/model_executor/layers/quantization/inc.py
  vllm/model_executor/layers/quantization/ipex_quant.py
  vllm/model_executor/layers/rotary_embedding/base.py
  vllm/platforms/__init__.py
  vllm/platforms/xpu.py
  vllm/v1/attention/backends/fa_utils.py
  vllm/v1/attention/backends/registry.py
  vllm/v1/worker/xpu_worker.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[Misc] Remove deprecated profiler environment variables (#33536)
  vllm/config/profiler.py
  vllm/envs.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[Misc] Remove deprecated VLLM_ALL2ALL_BACKEND environment variable (#33535)
  .buildkite/scripts/scheduled_integration_test/deepseek_v2_lite_ep_eplb.sh
  tests/kernels/moe/modular_kernel_tools/common.py
  vllm/config/parallel.py
  vllm/envs.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[Minor] Some code simplification in `scheduler.py` (#33597)
  vllm/v1/core/sched/scheduler.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[Bugfix] Disable RoutingMethodType.[Renormalize,RenormalizeNaive] TRTLLM per-tensor FP8 MoE (#33620)
  vllm/model_executor/layers/fused_moe/flashinfer_trtllm_moe.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[torch.compile] Document the workaround to standalone_compile failing (#33571)
  docs/design/debug_vllm_compile.md
  vllm/compilation/compiler_interface.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[Bugfix][Model] Fix DeepSeek-OCR-2 chat template to include BOS token (#33642)
  vllm/transformers_utils/configs/deepseek_vl2.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[Refactor] Clean up pooling serial utils (#33665)
  examples/pooling/embed/embedding_requests_base64_online.py
  examples/pooling/embed/embedding_requests_bytes_online.py
  tests/entrypoints/pooling/embed/test_online.py
  tests/entrypoints/pooling/pooling/test_online.py
  tests/utils_/test_serial_utils.py
  vllm/entrypoints/pooling/embed/serving.py
  vllm/entrypoints/pooling/pooling/serving.py
  vllm/entrypoints/pooling/utils.py
  vllm/utils/serial_utils.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[CI/Build] Investigate torchrun distributed tests hanging issue (#33650)
  tests/distributed/test_torchrun_example.py
  tests/distributed/test_torchrun_example_moe.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[Bugfix][Async][Connector] avoid vllm-side double free during async scheduling + request abort + async KV cache transfer (#33377)
  vllm/v1/core/sched/scheduler.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[Bugfix] fix qwen3-asr response error (#33644)
  vllm/model_executor/models/qwen3_asr.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

Document NixlConnector backend selection via kv_connector_extra_config (#33552)
  docs/features/nixl_connector_usage.md
Due: none

Fix Gemma3 GGUF for Transformers v5 (#33683)
  vllm/transformers_utils/gguf_utils.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

Fix offline test for Transformers v5 (#33682)
  tests/entrypoints/offline_mode/test_offline_mode.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

[Misc] Update default image format of `encode_base64` (#33656)
  vllm/multimodal/media/image.py
  vllm/multimodal/utils.py
Due: mypy-local, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports

Path conditions:
  format-torch-nightly-test: any of: ^requirements/test\.(in|txt)$, but not: vllm/third_party/.*
  mypy-local: any of: \.py$, but not: vllm/third_party/.*
  check-spdx-header: any of: \.py$, but not: vllm/third_party/.*
  check-root-lazy-imports: any of: \.py$, but not: vllm/third_party/.*
  enforce-import-regex-instead-of-re: any of: \.py$, but not: vllm/third_party/.*
  forbid-direct-triton-import: any of: \.py$, but not: vllm/third_party/.*
  check-pickle-imports: any of: \.py$, but not: vllm/third_party/.*
