Repository vllm-project/vllm: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-torch-nightly-test, check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, validate-docker-versions, check-boolean-context-manager

format-torch-nightly-test:
  name: reformat nightly_torch_test.txt to be in sync with test.in
  language: python
  entry: python tools/pre_commit/generate_nightly_torch_test.py

check-spdx-header:
  name: Check SPDX headers
  entry: python tools/pre_commit/check_spdx_header.py
  language: python

check-root-lazy-imports:
  name: Check root lazy imports
  entry: python tools/pre_commit/check_init_lazy_imports.py
  language: python

enforce-import-regex-instead-of-re:
  name: Enforce import regex as re
  entry: python tools/pre_commit/enforce_regex_import.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - regex

forbid-direct-triton-import:
  name: Forbid direct 'import triton'
  entry: python tools/pre_commit/check_triton_import.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - regex

check-pickle-imports:
  name: Prevent new pickle/cloudpickle imports
  entry: python tools/pre_commit/check_pickle_imports.py
  language: python
  additional_dependencies:
  - regex

validate-docker-versions:
  name: Validate docker/versions.json matches Dockerfile
  entry: python tools/generate_versions_json.py --check
  language: python
  pass_filenames: false
  additional_dependencies:
  - dockerfile-parse

check-boolean-context-manager:
  name: Check for boolean ops in with-statements
  entry: python tools/pre_commit/check_boolean_context_manager.py
  language: python

[Refactor] Relocate tests from tests/v1/entrypoints/ to tests/entrypoints/ (#37500)
  .buildkite/scripts/hardware_ci/run-tpu-v1-test-part2.sh
  .buildkite/test-amd.yaml
  .buildkite/test_areas/distributed.yaml
  .buildkite/test_areas/entrypoints.yaml
  .buildkite/test_areas/model_runner_v2.yaml
  .github/CODEOWNERS
  .github/mergify.yml
  tests/conftest.py
  tests/entrypoints/llm/test_struct_output_generate.py
  tests/entrypoints/openai/chat_completion/test_chat_completion.py
  tests/entrypoints/openai/chat_completion/test_completion_with_image_embeds.py
  tests/entrypoints/openai/completion/test_completion.py
  tests/entrypoints/openai/test_multi_api_servers.py
  tests/v1/entrypoints/__init__.py
  tests/v1/entrypoints/conftest.py
  tests/v1/entrypoints/llm/__init__.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

add torch.empty helpers
  vllm/compilation/passes/fusion/attn_quant_fusion.py
  vllm/compilation/passes/vllm_inductor_pass.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

add triton to xpu support xgrammar backend
  vllm/platforms/xpu.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[openapi] enable scaling ep only when api_server_count is 1
  vllm/entrypoints/openai/api_server.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

block rocm release pipeline from running at every commit
  .buildkite/release-pipeline.yaml
Due: none

fix: set device for prepare_inputs_event to avoid device mismatch
  vllm/v1/worker/gpu_model_runner.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

log matches once
  vllm/compilation/passes/pass_manager.py
  vllm/compilation/passes/vllm_inductor_pass.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fix: preserve streaming logprobs
  vllm/entrypoints/openai/chat_completion/serving.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[docs] Update DAILY_LEARNINGS.md - 18:35 evening check-in
  DAILY_LEARNINGS.md
Due: none

[Misc] Use logger.info_once for auto tool choice log message (#37661)
  vllm/parser/parser_manager.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fix lint in colbert.py
  vllm/model_executor/models/colbert.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

test: treat Qwen3.5 text arches as internal
  tests/models/registry.py
  tests/models/test_registry.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[UX] Enable torch_profiler_with_stack (#37571)
  docs/contributing/profiling.md
  vllm/config/profiler.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fix tag limit error in ROCm docker image build
  .buildkite/release-pipeline.yaml
  .buildkite/scripts/annotate-release.sh
  .buildkite/scripts/annotate-rocm-release.sh
Due: none

only enable required job
  .buildkite/release-pipeline.yaml
Due: none

Remove prepare_finalize guard from layer.py
  vllm/model_executor/layers/fused_moe/layer.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

remove unnecessary log
  vllm/compilation/passes/fusion/allreduce_rms_fusion.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

ready for review
  .buildkite/release-pipeline.yaml
Due: none

[Bugfix] Allow tensorizer load format for S3/GCS/Azure object storage
  vllm/config/vllm.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Fix lint: remove unused imports, fix f-strings, reorder imports
  benchmarks/benchmark_offline_state.py
  tests/distributed/test_offline_state.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Feature] Add OCI Image Annotations to container images
  docker/Dockerfile
  docker/Dockerfile.cpu
  docker/Dockerfile.ppc64le
  docker/Dockerfile.rocm
  docker/Dockerfile.xpu
Due: validate-docker-versions

fix: remove ambiguous KV cache layout assertion for Mamba hybrid models
  vllm/v1/worker/gpu_model_runner.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Fix `ColPaliConfig`
  vllm/transformers_utils/configs/colpali.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Fix `Qwen3ASRConfig`
  vllm/transformers_utils/configs/qwen3_asr.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Fix `kimi_k2` function calling test
  tests/entrypoints/openai/chat_completion/test_completion_with_function_calling.py
  vllm/transformers_utils/model_arch_config_convertor.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Fix mistral config parsing
  vllm/transformers_utils/configs/mistral.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

test annotate cuda
  .buildkite/release-pipeline.yaml
  .buildkite/scripts/cache-rocm-base-wheels.sh
Due: none

Fix `SpeculatorsConfig`
  vllm/transformers_utils/configs/speculators/base.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Fix non-default argumetns after default arguments
  vllm/transformers_utils/configs/deepseek_vl2.py
  vllm/transformers_utils/configs/parakeet.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

fix hash key issue
  .buildkite/scripts/cache-rocm-base-wheels.sh
Due: none

[Bugfix] Zero-init ROCm MLA attention output buffers for graph padding
  vllm/v1/attention/backends/mla/rocm_aiter_mla.py
  vllm/v1/attention/backends/mla/rocm_aiter_mla_sparse.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

reenable al tests and ready for review
  .buildkite/release-pipeline.yaml
Due: none

add issue context for hybrid model kv scales warning
  vllm/model_executor/models/config.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

change input func name
  vllm/compilation/passes/fusion/attn_quant_fusion.py
  vllm/compilation/passes/vllm_inductor_pass.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

[Kernel] Eliminate duplicate SparseMatrix creation in gpt_oss_triton_kernels_moe
  tests/kernels/moe/test_gpt_oss_triton_kernels.py
  vllm/model_executor/layers/fused_moe/gpt_oss_triton_kernels_moe.py
Due: check-spdx-header, check-root-lazy-imports, enforce-import-regex-instead-of-re, forbid-direct-triton-import, check-pickle-imports, check-boolean-context-manager

Path conditions:
  format-torch-nightly-test: any of: ^requirements/test\.(in|txt)$, but not: vllm/third_party/.*
  check-spdx-header: any of: \.py$, but not: vllm/third_party/.*
  check-root-lazy-imports: any of: \.py$, but not: vllm/third_party/.*
  enforce-import-regex-instead-of-re: any of: \.py$, but not: vllm/third_party/.*
  forbid-direct-triton-import: any of: \.py$, but not: vllm/third_party/.*
  check-pickle-imports: any of: \.py$, but not: vllm/third_party/.*
  validate-docker-versions: any of: ^docker/(Dockerfile|versions\.json)$, but not: vllm/third_party/.*
  check-boolean-context-manager: any of: \.py$, but not: vllm/third_party/.*
